<footer>
    <div class="maximus">
        <div class="ftr-row flex">
            <div class="logo">
                <!-- <img id="calix-cloud-logo" src="assets/img/CalixCloud_Logo.svg"> -->
            </div>
            <div class="ftr-rht flex">
                <div class="flex ftr-link">
                    <a target="_blank" id="terms-conditions"
                        href="https://www.calix.com/pages/terms-of-use.html">{{language.Terms_and_Conditions}}</a>
                    <a target="_blank" id="about-calix"
                        href="https://www.calix.com/content/dam/calix/mycalix-misc/lib/cloud/rn/current/marketing-cloud-rn.htm">{{language.About_Calix_Cloud}}</a>
                    <!-- <a target="_blank" id="about-calix"
                        href="https://www.calix.com/content/calix/en/site-prod/library-html/software-products/cloud/support/rn/marketing/marketing-cloud-rn.htm">{{language.About_Calix_Cloud}}</a> -->
                    <a target="_blank" id="contact-calix"
                        href="https://www.calix.com/about-calix/contact-us.html">{{language.Contact_Calix}}</a>
                    <p>1.877.766.3500</p>
                </div>

            </div>
        </div>
    </div>
</footer>