<div class="loader" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<div class="w-100 alert alert alert-danger  fade show" *ngIf="error">
    <span class="error-img"><img src="./assets/img/ic_error-36px.svg"></span>
    <button type="button" class="close" (click)="closeAlert()"><span></span></button>
    <div class="d-inline-flex" [innerHtml]="errorInfo"></div>
</div>
<div class="row mt-4" *ngIf="1">
    <div class="col-md-12 px-0 ccl-tabs">
        <ul id="tabs" class="nav nav-tabs">
            <li class="nav-item" (click)="changeTab('1', true);" id="wifi-downstream-24g-tab">
                <a [ngClass]="{'active' : showTabName === '1'}" class="nav-link small">
                    <a class=""> 2.4GHz</a>

                </a>

            </li>
            <li class="nav-item" *ngIf="show5gWidgets" (click)="changeTab('2', true);" id="wifi-downstream-5g-tab">
                <a [ngClass]="{'active' : showTabName === '2'}" class="nav-link small">
                    <a class=""> 5GHz</a>
                </a>
            </li>
            <li class="nav-item" *ngIf="metaData?.RadioAirtime6G" (click)="changeTab('3', true);"
                id="wifi-downstream-6g-tab">
                <a [ngClass]="{'active' : showTabName === '3'}" class="nav-link small">
                    <a class=""> 6GHz</a>
                </a>
            </li>
        </ul>
    </div>
</div>
<section style="min-height: 400px;">
    <div class="row" style="min-height: 400px;" [ngClass]="!showChart? 'd-none' : ''">
        <div class="col-md-12" id="wifi-downstream-chart-container">
            <div id="downstream-chart" style="height: 500px;"></div>
        </div>
    </div>
</section>