

.org-profile-icon{
    span:hover{
         color: #ff8066;
    }
    }
    .clear-icon {
     position: absolute;;
     right: 30px;
     top: 5px;
     cursor: pointer;
     width: 12px;
   }
#org-detail-btn{ background-color: transparent;font-size: 13.5px;border: none;}
td.actions{white-space: nowrap;}