<div class="row my-2">
    <div class="col-md-5 px-0 text-left"><span class="big-text primary"><i class="fa fa-long-arrow-left"
                aria-hidden="true"></i>

        </span></div>
    <div class="col-md-6 px-0 text-left">
        <h4>{{language.Time_Limits}}</h4>
    </div>
</div>
<div class="row justify-content-end my-2">
    <div class="col-md-1 text-right pr-0">
        <form>
            <div class="ccl-form-group pt-1">
                <input type="checkbox" id="Social">
                <label for="Social"></label>
            </div>
        </form>
    </div>
    <div class="col-md-1 text-right pr-0">
        <button type="button" class="btn-default primary px-3">{{language.All_Days}}
        </button>
    </div>
    <!-- <div class="col-md-12 px-0 text-right">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <button type="button" class="btn-default primary px-3 mx-3">All Days
        </button>
    </div> -->
</div>
<div class="row">
    <div class="col-md-12 px-0">
        <div class="time-limits border-0">
            {{language.Sunday}}
        </div>
        <div class="time-limits">
           {{language.Monday}}
        </div>
        <div class="time-limits">
          {{language.Tuesday}}
        </div>
        <div class="time-limits">
         {{language.Wednesday}}
        </div>
        <div class="time-limits">
         {{language.Thursday}}
        </div>
        <div class="time-limits">
         {{language.Friday}}
        </div>
        <div class="time-limits">
         {{language.Saturday}}
        </div>
    </div>
</div>


<div class="row my-1">
    <div class="time-limits-col-check d-flex align-items-end">
        <form>
            <div class="ccl-form-group">
                <input type="checkbox" id="Social1" class="">
                <label for="Social1"></label>
            </div>
        </form>
    </div>
    <div class="time-limits-col-start d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.Start_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="12:00 Am">

        </div>
        <!-- <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-end  d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.End_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="12:00 PM">

        </div>
        <!-- <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-save  px-0 text-center d-flex align-items-end">
        <button type="button" class="btn-default primary  ">{{language.Save}}
        </button>
    </div>
    <div class="time-limits-col-delete text-center px-0 d-flex align-items-end">
        <button type="button" class="btn-default primary ">{{language.Delete}}
        </button>
    </div>
</div>
<div class="row my-1">
    <div class="time-limits-col-check d-flex align-items-end">
        <form>
            <div class="ccl-form-group">
                <input type="checkbox" id="Social1" class="">
                <label for="Social1"></label>
            </div>
        </form>
    </div>
    <div class="time-limits-col-start d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.Start_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="01:00 ">

        </div>
        <!-- <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-end  d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.End_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="02:00 ">

        </div>
        <!-- <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-save  px-0 text-center d-flex align-items-end">
        <button type="button" class="btn-default primary  ">{{language.Save}}
        </button>
    </div>
    <div class="time-limits-col-delete text-center px-0 d-flex align-items-end">
        <button type="button" class="btn-default primary ">{{language.Delete}}
        </button>
    </div>
</div>
<div class="row my-1">
    <div class="time-limits-col-check d-flex align-items-end">
        <form>
            <div class="ccl-form-group">
                <input type="checkbox" id="Social1" class="">
                <label for="Social1"></label>
            </div>
        </form>
    </div>
    <div class="time-limits-col-start d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.Start_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="03:00">

        </div>
        <!-- <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-end  d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.End_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="04:00">

        </div>
        <!-- <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-save  px-0 text-center d-flex align-items-end">
        <button type="button" class="btn-default primary  ">{{language.Save}}
        </button>
    </div>
    <div class="time-limits-col-delete text-center px-0 d-flex align-items-end">
        <button type="button" class="btn-default primary ">{{language.Delete}}
        </button>
    </div>
</div>
<div class="row my-1">
    <div class="time-limits-col-check d-flex align-items-end">
        <form>
            <div class="ccl-form-group">
                <input type="checkbox" id="Social1" class="">
                <label for="Social1"></label>
            </div>
        </form>
    </div>
    <div class="time-limits-col-start d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.Start_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="05:00">

        </div>
        <!-- <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-end  d-flex align-items-end mr-3">
        <div class="ccl-form ">
            <label for="exampleInputEmail1" class="p-1">{{language.End_Time}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="06:00">

        </div>
        <!-- <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="02:00" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div> -->
    </div>
    <div class="time-limits-col-save  px-0 text-center d-flex align-items-end">
        <button type="button" class="btn-default primary  ">{{language.Save}}
        </button>
    </div>
    <div class="time-limits-col-delete text-center px-0 d-flex align-items-end">
        <button type="button" class="btn-default primary ">{{language.Delete}}
        </button>
    </div>
</div>

<!-- <div class="row my-3">
    <div class="col-md-12 px-0 text-center">
        <h4>Time Limits</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 px-0 text-right">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <button type="button" class="btn-default primary px-3 mx-3">All Days
        </button>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn-default primary pr-3 mx-3">Sunday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Monday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Tuesday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Wednesday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Thursdya
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Friday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Saturday
        </button>

    </div>
</div>
<div class="row my-4">

    <div class="col-md-2">
        <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="12:00 AM" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div>

    </div>
    <div class="col-md-2 px-0">
        <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="01:00 AM" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-3 px-0 my-4">
        <button type="button" class="btn-default primary ">save
        </button>
    </div>
    <div class="col-md-3 px-0 my-4">
        <button type="button" class="btn-default primary ">Cancel
        </button>
    </div>
</div>


<div class="row my-3">
    <div class="col-md-12 px-0 text-center">
        <h4>Time Limits</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 px-0 text-right">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <button type="button" class="btn-default primary px-3 mx-3">All Days
        </button>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 px-0">
        <button type="button" class="btn-default primary pr-3 mx-3">Sunday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Monday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Tuesday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Wednesday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Thursdya
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Friday
        </button>
        <button type="button" class="btn-default primary px-3 mx-3">Saturday
        </button>

    </div>
</div>
<div class="row my-2">
    <div class="col-md-12 text-right">
        <button type="button" class="btn-default primary px-1">Add<i class="fa fa-plus mx-2" aria-hidden="true"></i>
        </button>

    </div>
</div>
<div class="row my-4">
    <div class="col-md-1 px-0 my-3">
        <form>
            <div class="ccl-form-group">
                <input type="checkbox" id="tess">
                <label for="tess"></label>
            </div>
        </form>
    </div>
    <div class="col-md-2 px-0">
        <div>Start Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="12:00 AM" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div>

    </div>
    <div class="col-md-2 px-0">
        <div>End Time</div>
        <div class="ccl-form ">
            <input type="text" style="width:110px;" class="" placeholder="12:00 PM" aria-label="12:00 AM"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-3 px-0 my-3">
        <div class="ccl-form ">
            <button type="button" class="btn-default primary ">Save
            </button>
        </div>
    </div>
    <div class="col-md-3 px-0 my-3">
        <button type="button" class="btn-default primary ">Delete
        </button>
    </div>
</div>
 -->