<div class="row">
    <div class="col-md-5 px-0 text-left"><span class="big-text primary"><i class="fa fa-long-arrow-left"
                aria-hidden="true"></i>

        </span></div>
    <div class="col-md-6 text-left">
        <h4>Mathew {{language.Online_Usage}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 px-0 ccl-tabs">
        <ul id="tabs" class="nav nav-tabs sub-tab">
            <li class="nav-item">
                <a class="nav-link  active" data-toggle="tab"> <span class="">{{language.Day}}</span></a></li>
            <li class="nav-item"> <a class="nav-link small" data-toggle="tab"><span class="">{{language.week}}</span></a></li>
            <li class="nav-item"><a class="nav-link small" data-toggle="tab"><span class=""> {{language.Month}}</span></a></li>
        </ul>
    </div>
</div>
<div class="row">

    <div class="col-md-5 px-0 mt-3 mb-3 support-key-value">
        <table class="">
            <tbody>
                <tr>
                    <th scope="row" class="font-weight-bold">{{language.Total_Usage_Hours}}</th>
                    <td class="font-weight-bold">5 Hr 45 Min</td>
                </tr>
                <tr>
                    <th scope="row">Bangrid.com</th>
                    <td>28 Min</td>
                </tr>
                <tr>
                    <th scope="row">Cloud</th>
                    <td>10Min</td>
                </tr>
                <tr>
                    <th scope="row">Google play</th>
                    <td>5min</td>
                </tr>
                <tr>
                    <th scope="row">Instagram</th>
                    <td>2Hr 10Min</td>
                </tr>
                <tr>
                    <th scope="row">Sound Cloud</th>
                    <td>30 Min</td>
                </tr>
                <tr>
                    <th scope="row">SnapChat</th>
                    <td>50 Min</td>
                </tr>
                <tr>
                    <th scope="row">Others</th>
                    <td>55 Min</td>
                </tr>




            </tbody>
        </table>
    </div>

</div>
