<div class="row mb-3">
    <div class="col-md-12 ccl-title">{{language.calixtitle}} {{language.acssettings}}</div>
</div>
<!-- <div class="row">
    <div class="col-md-12 col-xs-12 ">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link " [routerLinkActive]="['active']" routerLink='speed-test'
                    (Click)="$event.preventDefault()" data-toggle="tab" role="tab" aria-controls="nav-home"
                    aria-selected="true">{{language.speedtest}}</a>
                <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink='acs-settings'
                    (Click)="$event.preventDefault()" data-toggle="tab" role="tab" aria-controls="nav-profile"
                    aria-selected="false">{{language.acssettings}}</a>
            </div>
        </nav>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-12 col-xs-12 ccl-title">
        {{language.acssettings}}
    </div>
</div> -->
<router-outlet></router-outlet>