<div class="row my-3 px-0">
    <!-- <div class="col-md-6">
        <a href="javascript:void(0)" [routerLink]="['/support']"><img src="./assets/images/CalixCloud_logo.png"> </a>
    </div> -->
    <div class="col-md-6">
        <div class="logo">
            <a href="javascript:void(0)" (click)='navigateCurrentRoute()' ><img src="./assets/img/calix-Cloud-logo.svg"> </a>
        </div>
    </div>
    <div class="col-md-6 pr-0">
        <div class="d-flex justify-content-end">
            <div class="mx-3 pt-2">
                <app-grid></app-grid>
            </div>
            <div class="">
                <app-dd-menu></app-dd-menu>
            </div>
        </div>

    </div>
</div>