
@import "~src/assets/variables";
/* NEW UI STYLES  START*/
.box_cont span {
  display: block;
	text-transform: uppercase;
}
.title_with_bar h5 {
    font-size: 17px;
    font-weight: 700;
}
.title_with_bar .title_bar {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #1A1F22;
}
/* NEW UI STYLES END  */

.result-details {
    color: #1A1F22;
    margin-bottom: 20px;

    p {
    	font-size: 16px;
    	margin-bottom: 5px;
	}
	h3 {
    	font-weight: 300;
    	font-size: 23px;
	}
}
.resultData {
  margin-left: 0px !important;
}

.chart-sec{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
}
.font-heading{
	font-size: 13px !important;
}
#result-list-menu {
  &.left-menu {
          border-right: 1px solid #CCCCCC;
          padding-right: 20px;
          li {
              margin-right: 30px;
              // .list-group-item {
              //     &:last-child a{
              //         border-radius: 0px;
              //         border-bottom: 1px solid transparent;
              //         background-color: #fff;
              //     }
              // }
              a {
                  color: #1A1F22;
                  border: 0px;
                  padding: 10px 0px;
                  white-space: nowrap;
                  &:hover {
                      transition-property: background;
                      transition-duration: .9s;
                      transition-timing-function: linear;
                      color: #0279FF;
                      background: none;
                  }
              }
              a.active {
                  color: #1A1F22;
                  font-weight: 600;
                  border-bottom: 2px solid #0279FF !important;
                  background: none;
                  border-top: 0px !important;
              }
          }
  }
}
.list-group-item.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  position: relative;
  z-index: unset !important;
}
.dblock {
display: block;
}
.dnone {
display: none;
}

.nav-tabs {
.nav-item {
  .nav-link {
    color: #2078fa;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #2078fa;
  }
}
.nav-link.active {
  color: #2078fa;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  border: none;
  border-bottom: 1px solid #2078fa;
}
border-bottom: none;
.nav-link {
  &:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
    color: #9bc1f9;
    border-bottom: 1px solid #9bc1f9;
  }
  &:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
    color: #9bc1f9;
    border-bottom: 1px solid #9bc1f9;
  }
}
}
a {
color: #333;
}
.nav-link {
font-size: 18px;
border-bottom: 1px solid transparent;
cursor: pointer;
}
a.nav-link {
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  &:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
    color: #083567;
    border-bottom: 1px solid #083567;
  }
  &:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
    color: #083567;
    border-bottom: 1px solid #083567;
  }
}
.btn-dft{
      background: #F8F8FA;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
      &:hover{
        background: #EBEAEF;
      }
}
.row-content {
  margin-left: -2px !important;
}
.title_with_bar .highcharts-container .highcharts-root {
  width: 100% !important;
}
.sidebar {
  height: 100%;
  // height: 50%;
  // width: 150px;
  position: relative;
  z-index: 1;
  margin-top: 0;
  left: 0;
  // background-color:#f8f8fa;
  overflow-x: hidden;
  transition: 0.5s;
      // width: auto!important;
    margin-right: 10px;
}
.circle-icon {
  // background: #dadada;
  width: 22px;
  height: 22px;
  // border-radius: 50%;
  text-align: center;
  line-height: 6px;
  vertical-align: middle;
  padding: 9px 1px;
  font-size: 11px;
  cursor: pointer;
  margin-top: 15px;
}

.chevron-icon{
  float: right;
  margin-right: 15px;
}

.left-menu li:last-child a{
  border-bottom: 1px solid transparent!important;
}
    .mwc-header {
      justify-content: space-between;
      margin-bottom: 20px;
      h3 {
        width: calc(100% - 120px);
      }
      .mwc-btns {
        justify-content: flex-end;
        width: 120px;
        button {
         
          &.btn-small-24 {
                width: 24px;
                height: 24px;
                &.btn-grey {
                background-color: $wgrey;
                background-position: center;
                    background-repeat: no-repeat;
                &:hover {
                    background-color: $snowgrey;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &:focus {
                    background-color: $snowgrey;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                }
            }
          &.btn-que {
            margin-right: 15px;
            background-image: url(~src/assets/img/ic_info_grey.svg);
            &:hover {
              background-image: url(~src/assets/img/ic_info_grey.svg);
            }
            &:focus {
              background-image: url(~src/assets/img/ic_info_grey.svg);
            }
          }
          &.btn-dload {
            margin-right: 6px;
            background-image: url(~src/assets/img/ic_download_grey.svg);
            &:hover {
              background-image: url(~src/assets/img/ic_download_grey.svg);
            }
            &:focus {
              background-image: url(~src/assets/img/ic_download_grey.svg);
            }
          }
          &.btn-expand {
            margin-right: 6px;
            background-image: url(~src/assets/img/ic_expand_grey.svg);
            &:hover {
              background-image: url(~src/assets/img/ic_expand_grey.svg);
            }
            &:focus {
              background-image: url(~src/assets/img/ic_expand_grey.svg);
            }
          }
          &.btn-expand-inv {
            margin-right: 6px;
            background-image: url(~src/assets/img/ic_expand_inverted_grey.svg);
            &:hover {
              background-image: url(~src/assets/img/ic_expand_inverted_grey.svg);
            }
            &:focus {
              background-image: url(~src/assets/img/ic_expand_inverted_grey.svg);
            }
          }
        }
      }
    }

.title_with_bar .mwc-btns {
    position: absolute;
    top: 0;
    display: flex;
    right: 0;
}
.title_with_bar p {
  font-size: 14px !important;
}
@media (max-width: 1366px) {	
	.title_with_bar .mwc-btns {
    position: absolute;
    top: 0;
    margin-left: 150px;
    display: flex;
}
}

@media (max-width: 1920px) {
	.title_with_bar .mwc-btns {
    position: absolute;
    top: 0;
    margin-left: 0px;
    display: flex;
}
}


section.full_screen,div#subscriber-home-chart {width: 100%;}

@media (max-width: 425px) {	
	.result-details h3 {
	    font-weight: 600;
	    font-size: 24px;
	}
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .item{
    margin-bottom: 15px;
   .box_cont{
    padding: 0px 30px 0px 12px;
    border-left: 1px solid #EBEAEF;
    height: 100%;
    span{
      text-transform: capitalize !important;
      font-size: 14px;
      font-weight: 400;
    }
   }
  }
  .item:first-child {
    word-break: break-word;
    max-width: 420px;
  }
  h5{
    color: #0054B2;
    font-size: 28px !important;
    line-height: 32px;
    font-weight: 300 !important;
    margin-bottom: 0px !important;
  }
}
.box_cont{
h5{
  font-size: 18px;
  color: #0054B2;
  font-weight: 300 !important;
}
span{
  text-transform: capitalize !important;
  font-size: 14px;
  color: #1A1F22;
}
}
.my-sidebar{
  .left-menu{
    border-right: 2px solid #cccccc;
    padding-right: 25px;
    min-height: 270px;
  li{ 
   a{
    border-bottom: 1px solid #cccccc !important;
   }
   a.active {
    border-bottom-width: 2px !important;
   }
  }
}
}
.flex-alt 
{ 
  margin-bottom: -9px;
  .item
  {
  .box_cont {
  border: none !important;
  padding-left: 0px !important;
  span{
    color: #1A1F22;
  }
   }   
   h5{
     font-size: 18px !important;
     line-height: 18px;
   }
  }
  
}
p,.p-small{
  color: #1A1F22;
  font-weight: 400;
}

.seg_dis_title{
  text-overflow: ellipsis;
  // padding-right: 120px;
  white-space: nowrap;
  overflow: hidden;
}
.error-state {
  .btn {
    padding: 0px 20px !important;
    font-size: 14px;
    min-height: 24px;
    border-width: 0 !important;
  }
  .error-summary {
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

::ng-deep {
  .re-deply-modal .modal-content {
    background: #F5FAFF;
  }
  .re-deply-modal .modal-dialog {
    max-width: 42.9% !important;
  }
  .review-ciq-modal .modal-dialog {
    max-width: 95% !important;
  }
  .review-ciq-modal .modal-content {
    padding: 40px 50px !important;
  }
  .review-ciq-modal .modal-body{
    max-height: 545px;
    overflow-x: auto;
  }
  .p-cal-input .p-calendar {
    display: block;
    .p-inputtext{
      width: 100%;
    }
  }
  .p-component{
    z-index: 9999 !important;
  }
}
.col-form-label{
  padding-left: 0 !important;
}
.alert-box {
  button.close {
    right: 0;
    top: 0;
  }
  position: relative;
  padding: 30px 0 15px 0;
  .box-content {
    color: #1A1F22;
    .content {
      padding-right: 30px;
      padding-left: 80px;
    }
    .icon {
      min-width: 75px;
      float: left;
      text-align: center;
      img {
        width: 48px;
      }
    }
  }
  p {
    color: #808080;
    margin-bottom: 0;
  }
  h3 {
    font-size: 24px;
  }
  ul {
    list-style-type: disc;
    padding: 0px 30px 0px 30px;
  }
}

.cus-selctbox {
  min-height: 100px;
  border-radius: 15px;
  border-top-right-radius: 6px;
  cursor: auto;
  border-bottom-right-radius: 0px;
  box-shadow: none;
}

.mobile-box {
  min-height: 460px;
  position: relative;
  background: url("../../../../assets/img/iphone_frame.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 80px;
  padding-left: 23px;
  padding-right: 23px;
  max-width: 375px;
  margin-left: 15px;
  margin-top: 30px;
  .info-box {
    background-color: rgba(248, 248, 248, 0.82);
    border-radius: 10px;
    min-height: 100px;
    padding: 2px 14px 5px 8px;
    position: relative;
    .info-title {
      position: relative;
      .left-el {
        .caption {
          font-size: 11px;
          color: #999999;
          -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
        }
        .icon {
          background: #ffffff;
          border-radius: 4px;
          line-height: 13px;
          margin-right: 10px;
          width: 16px;
          display: inline-block;
          text-align: center;
          height: 16px;
          img {
            width: 13.12px;
            height: 11.6px;
          }
        }
      }
      .time-int {
        position: absolute;
        right: 2px;
        font-size: 11px;
        top: 2px;
        color: #999999;
      }
    }
    .info-conent {
      padding-right: 40px;
      padding-bottom: 5px;
      padding-top: 3px;
      position: relative;
      overflow-wrap: break-word !important;
      font-size: 10px;
      color: #1A1F22;
      .info-msg {
        font-size: 13px;
        line-height: 1.3;
      }
      p {
        font-size: 16px;
        display: none;
      }
      .img-icon-prv {
        position: absolute;
        right: 0px;
        top: 6px;
        width: 28px;
        height: 28px;
        overflow: hidden;
        img {
          height: 28px;
        }
      }
    }
  }
}

.ccl {
  width: 100%;
  position: relative;
  display: table;
}

.cus-bottom {
  border-bottom: 2px solid #CCCCCC;
}

textarea {
  padding-bottom: 20px;
}

.word-counter {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.img-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  min-height: 474px;
  align-items: center;
}

.title-second {
  margin-bottom: 10px;
}

.imagePreview {
  font-size: 42px !important;
  font-weight: 300 !important;
  line-height: 53px !important;
  span {
    display: block;
    text-align: center;
  }
}

.flex-items-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.disclaimer-text {
  color: #4C4C4C;
  font-size: 13px;
  line-height: 16px;
  font-style: italic;
  margin-top: 15px;
  margin-left: 15px;
  max-width: 375px;
}

.icon-time-lock {
  margin-bottom: 30px;
}

.icon-bar {
  position: absolute;
  top: 22px;
  right: 18px;
}

.p-cal-cusicon {
  position: absolute;
  top: 45px;
  right: 15px;
  color: #cccccc;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin            : 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.pos-abs-clock{position: absolute;right: 10px;color: #cccccc;top: 50px;z-index: 99999;}
.position-not-time{position: relative;;z-index: 9;}
// #subscriber-tier-home-chart{overflow-x: auto !important;}

.h-300p{height: 300px;}

.d-flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  .dflex-col-8{
    flex-basis: 68%;
  }
  .dflex-col-4{flex-basis: 30%; margin-left: 2%;}
  .border-bottom{
    border-color: #cccccc;
  }
}
.min-w-170{
  min-width: 170px;
}
.search-close{
  position: absolute;
    width: 12px;
    right: 32px;
    top: 5px;
    cursor: pointer;
}
.subscriber-more-but{
  display: inline-flex;
  margin-left: 15px;
}
.subscriber-more-but .dropdown button {
  background-color: #f8f8fa;
  color: #2e2e2e;
  border: 1px solid #ccc;
  padding: 0px 5px;
  border-radius: 26px !important;
  width: 30px;
  height: 30px;
  line-height: 0px;
  cursor: pointer;
  padding-bottom: 7px;
}
.subscriber-more-but .dropdown .dropdown-menu {
  position: absolute;
  top: 0px;
  left: -90px !important;
  will-change: transform;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.25);
  border-radius: 16px;
  border: #FFFFFF;
}
.subscriber-more-but .dropdown .dropdown-menu .dropdown-item {
  height: 34px;
}
.subscriber-more-but .dropdown .dropdown-menu .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #EDF5FF;
}
.subscriber-more-but .dropdown .dropdown-toggle::after {
  content: none;
}
.subscriber-more-but .dropdown .dropdown-toggle:focus {
  box-shadow: none;
  color: #0279FF; 
}
::ng-deep{
  .p-treetable.p-component{
    z-index: 999 !important;
  }
}
