<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">{{language.Type}}</th>
                        <th scope="col">{{language.Detail}}</th>
                        <th scope="col">{{language.Status}}</th>
                    </tr>
                </thead>
                <hr style="margin-right: -900px;">
                <tbody>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>
                    </tr>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>

                    </tr>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>

                    </tr>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>

                    </tr>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>

                    </tr>
                    <tr>
                        <th scope="row">Lorem Ipsum</th>
                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</th>
                        <th>Lorem Ipsum</th>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>