.errorMsg {
    color      : red;
    margin-left: 15px;
}

.custom-file-label {
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    z-index         : 1;
    height          : calc(1.5em + .75rem + 2px);
    padding         : .375rem .75rem;
    font-weight     : 400;
    line-height     : 1.5;
    color           : #495057;
    background-color: #f8f8fa !important;
    border          : 1px solid #ced4da;
    border-radius   : 20px !important;
    margin          : 0px 14px;
    font-size       : 14px;
    padding-left    : 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 107px;
    overflow: hidden;

}
.custom-file-label::after{
    display: none;
}
.browse-text {
    position        : absolute;
    top             : 1px;
    right           : 15px;
    bottom          : 0;
    z-index         : 2;
    display         : block;
    height: 33px;
    padding: 0.375rem 0.75rem;
    line-height     : 1.5;
    color           : #495057;
    background-color: #e9ecef;
    border-left     : inherit;
    border-radius   : 20px !important;
    min-width: 100px;
    text-align: center;
}

.sf-title {
    font-style : normal;
    font-weight: 300;
    font-size  : 42px;
    line-height: 53px;
    color      : #1A1F22;
}
.text-box{
    border-radius: 22px 22px 2px 22px;
    min-height: 85px;
}
.border-bottom-grey{
    border-bottom: 2px solid #CCCCCC; margin-bottom: 24px; padding-bottom: 10px;
}
.warning-msg-dis{display: flow-root;
.error-img{float: left;}
.wh-fl{width: 80%; float:left;}
}
.browse-file{
    .custom-file-input{
        cursor: pointer;
    }
}