.Protect-iq-card {
    border-radius: 10px;
    border       : 1px solid #f5f5f5;
    padding      : 10px 18px !important;
    box-shadow   : 0 0 2px #ccccccb8;
    cursor       : pointer;
    width        : 100%;


    &:hover {
        border-radius   : 10px;
        background-color: #f5f5f5;
        padding         : 10px;
        box-shadow      : 0 0 2px #ccccccb8;
        cursor          : pointer;

    }
}
.refreshicon {
    width: 16px;
    height: 16px;
}

.flex-space-between {
    padding-bottom: 0px;
}

.Protect-iq-card.selected {
    border-radius   : 10px;
    background-color: #f5f5f5;
    padding         : 10px;
    box-shadow      : 0 0 2px #ccccccb8;
    cursor          : pointer;

}

.Protect-iq-active {
    border-radius   : 10px;
    background-color: #f5f5f5;
    padding         : 10px;
    box-shadow      : 0 0 2px #ccccccb8;
    cursor          : pointer;

}

.protect-iq-accordion .card {
    border: none;

    .card-header {
        background: #fff;
        box-shadow: none;
        border    : none;
    }
}

.plus-minus-toggle {
    border         : 2px solid #000;
    width          : 18px;
    height         : 18px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 2px;
    font-size      : 20px;
    font-weight    : 600;
}

.device-detail tr:hover {
    background-color: #f2f2f2;
}

.device-detail tr .skip-sec {
    visibility: hidden;
    opacity   : 0;
    transition: all .3s;
}

.device-detail tr:hover .skip-sec {
    visibility: visible;
    opacity   : 1;
    transition: all .3s;
}

.lap-icon {
    margin: 0px 10px;
    width : 3%;

}

.skip-device thead {
    border-bottom: 1px solid #ddd;
}

.Protect-iq-table {
    padding: 0px 10px;
    width  : 100%;

    table {
        width: 100%;
    }
}

.detail-list tbody th {
    font-weight: 500;
    padding    : 0px;
}

.detail-list-table tbody tr {
    border-bottom: 1px solid #EBEAEF;
    line-height  : 24px;
    padding      : 0px 10px;
}

.detail-list-table tbody tr td {
    padding: 0px 10px;
}

.detail-list-table tbody tr th {
    padding: 0px 10px;
}

.detail-list tbody th p {
    font-weight  : 500;
    margin-bottom: 0px;
}

.detail-list thead th h5 {
    font-weight: 600;
}

.Protect-iq-info {
    cursor     : pointer;
    display    : flex;
    align-items: center;
}

.device-detail.table-borderless th,
.device-detail.table-borderless td {
    padding: 15px 0px;
}

.device-detail.table-borderless th {
    padding-left: 70px;
}

.card-header {
    .ccl-accordion-icon::after {
        content        : "\f078";
        font-family    : FontAwesome;
        font-style     : normal;
        font-weight    : normal;
        text-decoration: inherit;
        color          : #9E9E9E;
        font-size      : 18px;
        padding-right  : 0.5em;
        position       : absolute;
        top            : 10px;
        left           : 50px;
    }

    &.collapsed {
        .ccl-accordion-icon::after {
            transform: scaleY(-1);

        }
    }
}

.protectiq-alerts-table {
    tbody {
        tr {
            th {
                padding: 5px 0px;
            }

            td {
                padding   : 5px 0px;
                width     : 70%;
                word-break: break-all;
            }
        }
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        box-sizing : border-box !important;
        font-weight: normal !important;
        font-size  : 14px !important;
      }
}

.protectiq-trusted-list-table {
    tbody {
        tr {
            th {
                padding: 5px 0px;
            }

            td {
                padding: 5px 0px;
            }
        }
    }
}

.protectiq-skipped-table {
    margin: 10px 0px;

    tbody {

        tr {
            padding: 10px 0px;

            th {
                padding       : 5px 0px;
                vertical-align: unset !important;
            }

            td {
                padding: 5px 0px;
            }
        }
    }
}

.table-borderless th,
td {
    padding-top: 15px;
}

.dropdown-toggle::after {
    display: none;
}

.ccl-form-group {
    display      : block;
    margin-bottom: 15px;
}

.ccl-form-group input {
    padding      : 0;
    height       : initial;
    width        : initial;
    margin-bottom: 0;
    display      : none;
    cursor       : pointer;
}

.ccl-form-group label {
    position: relative;
    cursor  : pointer;
}

.ccl-form-group label:before {
    content           : '';
    -webkit-appearance: none;
    background-color  : transparent;
    border            : 2px solid #0079bf;
    box-shadow        : 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding           : 10px;
    display           : inline-block;
    position          : relative;
    vertical-align    : middle;
    cursor            : pointer;
    margin-right      : 5px;
}

.ccl-form-group input:checked+label:after {
    content     : '';
    display     : block;
    position    : absolute;
    top         : 6px;
    left        : 9px;
    width       : 6px;
    height      : 14px;
    border      : solid #0079bf;
    border-width: 0 2px 2px 0;
    transform   : rotate(45deg);
}

.protect-iq-menu-card {
    width  : 25%;
    padding: 0px 5px;
    cursor : pointer;

    .card-body {
        padding    : 0px 10px;
        white-space: nowrap;

    }

}

.protect-iq-accordion {
    width         : 100%;
    // .card-header{
    //     padding:0px 5px;
    // }
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content    : "\f068";
    float      : right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.btn-danger {
    color: #000;

    &:hover {
        color: white;
    }
}

.alert-ul {
    font-size: 16px;
    padding  : 10px
}

.trusted-title-info {
    word-break : break-all;
    white-space: break-spaces;
    min-width  : 690px;
}

.alert-ul .alert-details {
    width     : 50%;
    word-break: break-all;
}

.alert-btn.opacityCheck {
    opacity: 1 !important;
}

.toggleDisabled {
    opacity: 0.5;
}

.nav-tabs a.nav-link.active {
    font-weight: normal !important;
}
.wrn-msg{
    width: 85%;
}