

.small-tag {
    font-size  : 12px;
    font-weight: 300;
}

.mand-field
{
position: relative;
.required-field {
    color: #c70000;
    font-size: 20px;
    position: relative;
     top: -4px;
    // right: -11px;
 }
}
.info-test {
    font-size: 75%;
    margin-top: 8px;
}