.review-title {
    // font-size: 18px;
    // font-weight: 600;
    // margin: 15px 0px
}

table.dataTable thead tr th{
	font-weight: 600;
	font-size: 15px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc{
	padding-right: 15px;
	 background-image: none!important;
}


.review-table {
    margin: 10px 0px;
}
.Min-w{
    min-width: 46px;
}

