<div class="row">
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Overview}}
                </p>
                <p class="second-para">
                    1 {{language.Issues}}
                </p>
                <p class="third-para">
                    3 {{language.Warnings}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Service}}
                </p>
                <p class="second-para">
                    98.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/bottom-arrow.png" alt="warning"></span> {{language.Down}}
                </p>
                <p class="third-para">
                    92.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/top-arrow.png" alt="warning"></span> {{language.Up}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Overview}}
                </p>
                <p class="second-para">
                    1 {{language.Issues}}
                </p>
                <p class="third-para">
                    3 {{language.Warnings}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Service}}
                </p>
                <p class="second-para">
                    98.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/bottom-arrow.png" alt="warning"></span> {{language.Down}}
                </p>
                <p class="third-para">
                    92.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/top-arrow.png" alt="warning"></span> {{language.Up}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Overview}}
                </p>
                <p class="second-para">
                    1 {{language.Issues}}
                </p>
                <p class="third-para">
                    3 {{language.Warnings}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="cus-card">
            <span class="alert-msg">
                <img height="16" width="16" src="./assets/images/outline-warning-2.png" alt="user">
            </span>
            <div class="cus-body">
                <img height="16" width="16" src="./assets/images/ic_alldevices.png" alt="warning">
                <p class="card-title">
                    {{language.Service}}
                </p>
                <p class="second-para">
                    98.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/bottom-arrow.png" alt="warning"></span> {{language.Down}}
                </p>
                <p class="third-para">
                    92.3 <span class="pl-2 pr-2"><img height="13" width="13" src="./assets/images/top-arrow.png" alt="warning"></span> {{language.Up}}
                </p>
            </div>
        </div>
    </div>
</div>
