.box_kbi{border-left: 1px solid #EBEAEF;padding-left: 12px;}
.chart {min-height: 300px;position: relative;}
.chart-filter-select{min-width: 130px;}
.btn-ellipse{
    display: inline-flex;
    justify-content: center;
    padding-bottom: 13px;
    color:  #808080;
}