/*toggle style*/
// colors
$blue : #269bff;
$bg-light: #f2f2f2;
$bg-med : #eee;

// the magic
div.checkbox.switcher,
div.radio.switcher {
  float: right;

  label {
    padding: 0;
    cursor: pointer;

    * {
      vertical-align: middle;
    }

    input {
      display: none;

      &+span {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;
        background: #ffffff;
        border: 1px solid #0279ff;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        padding: 5px;

        small {
          position: absolute;
          display: block;
          width: 20px;
          height: 19px;
          background: #0279ff;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          left: 2px;
          top: 2px;
        }
      }

      &:checked+span {
        background: $blue;
        border-color: $blue;

        small {
          left: 50%;
          background: #ffffff;
        }
      }
    }
  }
}

@import '~src/assets/theme/imports/_variables.scss';

$btn-color : #2078fa;
$btn-hover-color: #1454b2;
$btn-disabled : #c0ddfd;

$btn-sec-color : #f8f8fa;
$btn-sec-hover-color: #ebeaef;
$btn-sec-disabled : #fcfcfd;

@mixin shadow {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 5px 0 rgba(0, 0, 0, 0.16) !important
}

form {
  width: 100%;
}

// .dropdown {
//     width: 100%;
//     padding: 5px 15px;
//     border: none;
//     background: transparent;
//     outline: none;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     position: relative;
//     background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
//     background-position:
//     calc(100% - 11px) calc(1em + -6px), calc(100% - 16px) calc(1em + 2px), 100% 0;
//   background-size:
//     15px 15px,
//     15px 15px,
//     2.5em 2.5em;
//     line-height: 1.5em;
//     border: 1px solid #ced4da;
//     border-radius: 3px;

//   }

//   .dropdown:active {
//       @include shadow;
//       border-radius: 25px 25px 0 0 !important;
//   }

//   select * {
//       background: #ffffff !important;
//       outline: none !important;
//       border: none !important;
//       color: #495057;
//       line-height: 1.5em;
//       :hover {
//           background-color: #e5e5e5 !important;
//           outline: none !important;
//           border: none !important;
//       }
//   }

.ng-select .ng-select-container {
  border-radius: 26px !important;
  background: #f8f8fa !important;
  border: 1px solid #dfdfdf !important;
}

.opacity-50 {
  opacity: 0.5
}

.note-site-scan {
  color: #212529;
}

.switch-disabled {
  opacity: 0.5;

  label {
    cursor: not-allowed;
  }
}