<section>
    <div class="row">
        <div class="col-md-12 ccl-tabs w-100">
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="pl-0 nav-link" routerLinkActive="active">
                        Category 1
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="nav-link" routerLinkActive="active">
                        Category 2
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="nav-link" routerLinkActive="active">
                        Category 3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12 ccl-tabs w-100">
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="pl-0 nav-link" routerLinkActive="active">
                        One
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="nav-link" routerLinkActive="active">
                        Two
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" data-toggle="tab" class="nav-link" routerLinkActive="active">
                        Three
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="add_workflow" routerLink="new-workflow" class="btn-default primary px-3"> Add
                </button>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Current State</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>aileen_844e_triple_248</td>
                            <td>sdg</td>
                            <td> Schedule Suspended </td>
                            <td>04/22/2020 11:40:31 AM </td>
                            <td>N/A</td>
                            <td><span class="mx-2"><i class="fas fa-pencil-alt"></i></span>
                                <span class="mx-2"><i class="fas fa-list"></i></span>
                                <span class="mx-2"><i class="fas fa-play"></i></span>
                                <span class="mx-2"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>