.modal-scrll {
    overflow-y: auto;
    max-height: 500px;
}
.list-two {
    list-style-type: disc;
    margin-left: 30px;
}
.min-w-250{min-width:250px;}
.min-w-170{min-width:170px;}
.min-w-130{min-width:130px;}

.w-nowrap{white-space: nowrap;}
.w-nowrap-150{white-space: nowrap;min-width:150px}
.f-size13{font-size:13px}
.w-200px{width: 200px;}
.w-150px{width: 150px;}
.w-100px{width: 100px;}
.nav-tab-list > li > .btn{
    padding: 3px 20px !important;
    border:1px solid #0279FF;
    color: #0279FF;
    font-size: 14px;
    line-height: 16.67px !important;
}
.nav-tab-list > li > .btn:not(.active):hover{
    background-color: #0279FF;
    color: #fff;
}
.nav-tab-list > li > .btn.active{background-color: #0279FF;color: #fff;}
.nav-tab-list > li > .btn{border-radius: 0 !important;}

.nav-tab-list > li:first-child .btn{
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}
.nav-tab-list > li:last-child .btn{
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
.line-height-normal{line-height: normal;}