.Protect-iq-table {
    padding: 0px 10px;
    width: 100%;

    table {
        width: 100%;
    }
}

.flex-space-between {
    padding-bottom: 0px;
}

.detail-list tbody th {
    font-weight: 500;
    padding: 0px;
}

.detail-list-table tbody tr {
    border-bottom: 1px solid #EBEAEF;
    line-height: 24px;
    padding: 0px 10px;
}

.detail-list-table tbody tr td {
    padding: 0px 10px;
}

.detail-list-table tbody tr th {
    padding: 0px 10px;
}

.detail-list tbody th p {
    font-weight: 500;
    margin-bottom: 0px;
}

.detail-list thead th h5 {
    font-weight: 600;
}

.wrn-msg {
    width: 85%;
}