
.current-issues-table{
    width: 100%;
}
.current-issues-table table{
    width: 100%;
}
.current-issues-table table {
        width: 100%;
}
.current-issues-table table thead{
    font-size: 14px;
}
.current-issues-table table tbody {
font-size: 14px;
}
.add-search-icon{
    background-color: #0279FF;
    width: 40px;
    height: 100%;
    border-radius: 25px;
    position: relative;
    left: -42px;
    top: 3px;
    padding: 5px;
    padding-top: 4px;
}