.ccl-admin-title{color: #1A1F22;}
.dflex-item h1{
    color: #0054B2;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
}
.dflex-item{border-left: 1px solid #EBEAEF; 
    padding-left: 12px;}
.dflex-item h5{
    color: #1A1F22;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.table tbody tr td{
    padding: 0;
    line-height: 24px;
}
.table tbody tr:first-child td{
    border-top: 0;
}
.text-green{
    color: #507500;
}
.text-red{
    color: #C70000;;
}