
.cc-footer{
    color: #4C4C4C;
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #cccc;;
    
}

a:hover {
  text-decoration: none;
}