@import '~src/assets/theme/imports/_variables.scss';

$btn-color: #2078fa;
$btn-hover-color: #1454b2;
$btn-disabled: #c0ddfd;

$btn-sec-color: #f8f8fa;
$btn-sec-hover-color: #ebeaef;
$btn-sec-disabled: #fcfcfd;
#profileWizard.profile-wizard{
    .stepper-main {
        width: 100%;
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
        position: relative;
    }
    
    .stepper {
      width: 100%;
      display: flex;
      position: relative;
    }
    
    .step--1,
    .step--2,
    .step--3,
    .step--4,
    .step--5 {
      width: calc(100% / 5);
      padding: 5px 25px;
      background: $snow-grey;
      color: $blast-grey;
      text-align: center;
      border-radius: 20px !important;
      cursor: pointer !important;
    }
    
    .step--1 {
      z-index: 55 !important;
    }
    .step--2 {
      z-index: 44 !important;
      transform: translateX(-20px) !important;
    }
    .step--3 {
      z-index: 33 !important;
      transform: translateX(-40px) !important;
    }
    .step--4 {
      z-index: 22 !important;
      transform: translateX(-60px) !important;
    }
    .step--5 {
      z-index: 11 !important;
      transform: translateX(-80px) !important;
    }
    .step-active {
      background: #0279ff !important;
      color: $white !important;
      z-index: 99 !important;
    }
    .step-success {
      background: $success !important;
      color: $white !important;
      z-index: 101 !important;
    }
    .pb-4{
      padding-bottom: 3.5rem !important;
    }
    
}




.form-control-sm {
    min-height: 38px !important;
    max-height: 42px !important;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1.2rem !important;
    background-color: #f8f8fa !important;
    border: none !important;
}
select{
    border-radius: 20px;
    // background: #F8F8FA;
    // background-image: url(assets/img/ic_chevrondown.svg);
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #f8f8fa10;
    -webkit-appearance: none;
    // background-position-x: 100px 5px;
    background-position: right 17px center;
}
/*new stepper*/
.stepper-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.stepper-ui {
  display   : flex;
  list-style: none;
  margin    : 0 0 10px 0;
  padding   : 0;
  overflow  : hidden;

  li {
    button {
      padding         : 0px 10px 0px 30px;
      // background      : #ffffff;
      color           : #1A1F22;
      position        : relative;
      height          : 32px;
      // min-width    : 120px;
      border-top      : 1px solid #0279ff;
      border-bottom   : 1px solid #0279ff;
      border-right    : 0px !important;
      border-left     : 0px !important;
      outline         : none !important;

      span {
        position: relative;
        z-index : 2;
      }

      &::after {
        content                : "";
        width                  : 30px;
        height                 : 100%;
        background             : transparent;
        position               : absolute;
        top                    : 0;
        right                  : -10px;
        transform              : rotate(48deg);
        z-index                : 1;
        border                 : 1px ridge transparent;
        border-top-color       : #0279ff;
        border-right-color     : #0279ff;
        border-top-right-radius: 5px;
      }

      &.step-current,
      &.step-done {
        color: #ffffff;
      }

      &.step-current,
      &.step-current::after {
        background-color: #0279ff !important;
      }

      &.step-done {
        background-color: #82bf00 !important;
        border-color    : #82bf00;

        &::after {
          background-color: #82bf00 !important;
        }
        &:disabled{
          background-color: #82bf00 !important;
          border-color    : #82bf00 !important;
        }
      }

      &.step-done::after {
        border-top-color  : #fff !important;
        border-right-color: #fff !important;
        border-style      : solid;
      }

      &.step-current::after {
        border-top-color  : #0279ff !important;
        border-right-color: #0279ff !important;
        border-style      : solid;
      }
    }

    &:first-child button {
      border-top-left-radius   : 30px;
      border-bottom-left-radius: 30px;
    }
  }
}
button:disabled {
  background: transparent !important;
  border-color: #0279ff !important;
  cursor    : not-allowed;
  color     : #4c4c4c;
}
.stepper-ui {
  li {
    button{
      background-color: #F5FAFF;
      color: #0279ff;
      &::after{
        background-color: #F5FAFF;
      }
      &::before{
        content: '';
        position: absolute;
        right: 0;
        top: -1px;        
        width: 20px;
        height: 32px;
        background-color: transparent;
        border-top:1px solid #0279ff;
        border-bottom:1px solid #0279ff;
        z-index: 9;
      }
      &:disabled{
        &::after{
          background-color: #ffffff;
        }
        color: #1A1F22;
      }
      &.step-current:disabled,
      &.step-done:disabled{
        span{
          opacity: 0.8;
          color: #ffffff !important;
        }
      }
      &.step-current,
      &.step-done{
        &::before{
          display: none;
        }
      }
    }
  }
}
/*new stepper end*/