.border-bottom{border-color: #cccccc !important;}
.pl-16px{padding-left: 16px;}
.checkbox-switcher {
    cursor: pointer;
}
.ont-soak{ position: relative;padding-right: 70px;}
// .ont-soak-min{position: absolute;right: 0px;top :40px}
.error-image-wh{width: 50px; float: left; height: 100%}
.warn-msg-wh{width: 85%; height: 100%}
.alert-custom-pos{
    display: flex;
    align-items: center;
    min-height: 52px;
    width: 100%;
}
.switch-disabled {
    cursor: not-allowed !important;
    span{opacity: 50%;}
}