.see_pass {
    right: 30px;
    vertical-align: text-bottom;
    position: absolute;
    height: 36px;
    line-height: 34px;
    cursor: pointer;
}

.err-red-text{color: #C70000;}
.pwd-icon{
    top: 14px;
}