<div class="oper-inner-sec">
  <button type="button" class="btn-default primary px-3">
    {{ language.Add_profile }}
  </button>

  <table class="row-border smal mb-0 dataTable table home-table px-3 mt-3">
    <thead>
      <tr>
        <th>{{ language.Name }}</th>
        <th>{{ language.Description }}</th>
        <th>{{ language.Type }}</th>
        <th>{{ language.Action }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span> DFS Enabled </span></td>
        <td><span> Turn on DFS </span></td>
        <td><span> 5GHz WIfI Radio </span></td>
        <td>
          <div class="actions">
            <span
              class="fas fa-pencil-alt"
              style="cursor: pointer"
              title="{{ language.Edit }}"
            >
            </span>
            <span
              class="fa fa-trash-o ml-4"
              style="cursor: pointer"
              title="{{ language.Delete }}"
            ></span>
          </div>
        </td>
      </tr>
      <tr>
        <td><span> Susan Jordan</span></td>
        <td><span> </span></td>
        <td><span> Dynamic </span></td>
        <td>
          <div class="actions">
            <span
              class="fas fa-pencil-alt"
              style="cursor: pointer"
              title="{{ language.Edit }}"
            >
            </span>
            <span
              class="fa fa-trash-o ml-4"
              style="cursor: pointer"
              title="{{ language.Delete }}"
            ></span>
          </div>
        </td>
      </tr>
      <tr>
        <td><span> Susan Jordan</span></td>
        <td><span> </span></td>
        <td><span> Dynamic </span></td>
        <td>
          <div class="actions">
            <span
              class="fas fa-pencil-alt"
              style="cursor: pointer"
              title="{{ language.Edit }}"
            >
            </span>
            <span
              class="fa fa-trash-o ml-4"
              style="cursor: pointer"
              title="{{ language.Delete }}"
            ></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
