@import '~src/assets/theme/imports/_variables.scss';

$btn-color : #2078fa;
$btn-hover-color: #1454b2;
$btn-disabled : #c0ddfd;

$btn-sec-color : #f8f8fa;
$btn-sec-hover-color: #ebeaef;
$btn-sec-disabled : #fcfcfd;

#outage-workflow.outage-workflow {
    .stepper-main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .stepper {
        width: 100%;
        display: flex;
        flex: 0 0 100%;
        position: relative;
    }

    .step--1,
    .step--2,
    .step--3,
    .step--4,
    .step--5 {
        width: calc(100% / 5);
        padding: 5px 25px;
        background: #ebeaef !important;
        color: $blast-grey;
        text-align: center;
        cursor: pointer !important;
        border-radius: 20px;
    }

    .stepper .step:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }


    // .stepper .step:last-child{
    //   border-top-right-radius: 20px;
    //   border-bottom-right-radius: 20px;
    //   background-color: #f7f7f9!important;
    //   box-shadow: none!important;

    // }

    // .stepper .step.step-active:last-child{
    //   background: #82bf00 !important;
    // }


    .step--1 {
        z-index: 55 !important;

    }

    .step--2 {
        z-index: 44 !important;
        transform: translateX(-20px);
    }

    .step--3 {
        z-index: 33 !important;
        transform: translateX(-40px);

    }

    .step--4 {
        z-index: 22 !important;
        transform: translateX(-60px) !important;
    }

    .step--5 {
        z-index: 11 !important;
        transform: translateX(-80px) !important;
    }

    // .step-active {
    //     background: #82bf00 !important;
    //     color: $white !important;
    //     z-index: 99 !important;
    //     border-radius: 20px !important;
    //   }

    .step-active {
        background: #0279ff !important;
        color: #ffffff !important;
        z-index: 99 !important;
        border-radius: 20px !important;
    }

    .step-success {
        background: #82bf00 !important;
        color: #ffffff !important;
        z-index: 101 !important;
        border-radius: 20px !important;
    }

}

.outage-workflow {
    // padding-left: 20px;
    position: relative;
}

.close-box {
    font-size: 24px;
    font-weight: 300;
    color: #808080;
}

.btn-arrow.btn-grey {
    border: 1px solid #CCCCCC !important;
    background-color: #F8F8FA !important;
    color: #4C4C4C !important;
}

/*new stepper*/
.stepper-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.stepper-ui {
    display: flex;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
    width: 100%;

    li {
        button {
            padding: 0px 10px 0px 30px;
            // background      : #ffffff;
            color: #1A1F22;
            position: relative;
            height: 32px;
            // min-width    : 120px;
            border-top: 1px solid #0279ff;
            border-bottom: 1px solid #0279ff;
            border-right: 0px !important;
            border-left: 0px !important;
            outline: none !important;

            span {
                position: relative;
                z-index: 2;
            }

            &::after {
                content: "";
                width: 30px;
                height: 100%;
                background: transparent;
                position: absolute;
                top: 0;
                right: -10px;
                transform: rotate(48deg);
                z-index: 1;
                border: 1px ridge transparent;
                border-top-color: #0279ff;
                border-right-color: #0279ff;
                border-top-right-radius: 5px;
            }

            &.step-current,
            &.step-done {
                color: #ffffff;
            }

            &.step-current,
            &.step-current::after {
                background-color: #0279ff !important;
            }

            &.step-done {
                background-color: #82bf00 !important;
                border-color: #82bf00;

                &::after {
                    background-color: #82bf00 !important;
                }

                &:disabled {
                    background-color: #82bf00 !important;
                    border-color: #82bf00 !important;
                }
            }

            &.step-done::after {
                border-top-color: #fff !important;
                border-right-color: #fff !important;
                border-style: solid;
            }

            &.step-current::after {
                border-top-color: #0279ff !important;
                border-right-color: #0279ff !important;
                border-style: solid;
            }
        }

        &:first-child button {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }
}

button:disabled {
    background: transparent !important;
    border-color: #0279ff !important;
    cursor: not-allowed;
    color: #4c4c4c;
}

.stepper-ui {
    li {
        button {
            background-color: #F5FAFF;
            color: #0279ff;

            &::after {
                background-color: #F5FAFF;
            }

            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: -1px;
                width: 20px;
                height: 32px;
                background-color: transparent;
                border-top: 1px solid #0279ff;
                border-bottom: 1px solid #0279ff;
                z-index: 9;
            }

            &:disabled {
                &::after {
                    background-color: #ffffff;
                }

                color: #1A1F22;
            }

            &.step-current:disabled,
            &.step-done:disabled {
                span {
                    opacity: 0.8;
                    color: #ffffff !important;
                }
            }

            &.step-current,
            &.step-done {
                &::before {
                    display: none;
                }
            }
        }
    }
}

/*new stepper end*/
.btn-arr-nxt {
    &:disabled {
        background: #0279ff !important;
        border: 1px solid #0279ff !important;
        cursor: not-allowed;
        opacity: 0.5;
        color: #81bcff;
    }
}

.pos-action-btn {
    position: absolute;
    right: 0px;
    top: 0px;
}
.close-icon {
    position: absolute;
    right: 0;
    top: 24px;
  }
  .min-h-58px{
    min-height: 58px;
  }