#serviceWizard.service-wizard {

  /*toggle style*/
  // colors
  $blue    : #269bff;
  $bg-light: #f2f2f2;
  $bg-med  : #eee;

  // the magic
  div.checkbox.switcher,
  div.radio.switcher {
    label {
      padding: 0;
      cursor: pointer;

      * {
        vertical-align: middle;
      }

      input {
        display: none;

        &+span {
          position     : relative;
          display      : inline-block;
          width        : 45px;
          height       : 25px;
          background   : #ffffff;
          border       : 1px solid #0279ff;
          border-radius: 50px;
          transition   : all 0.3s ease-in-out;
          padding      : 5px;

          small {
            position     : absolute;
            display      : block;
            width        : 20px;
            height       : 19px;
            background   : #0279ff;
            border-radius: 50%;
            transition   : all 0.3s ease-in-out;
            left         : 2px;
            top          : 2px;
          }
        }

        &:checked+span {
          background  : $blue;
          border-color: $blue;

          small {
            left      : 50%;
            background: #ffffff;
          }
        }
      }
    }
  }

  .bottom-border {
    border-bottom: 2px solid #efefef;
  }

  [type=radio]:checked,
  [type=radio]:not(:checked) {
    position: relative !important;
    left    : 0 !important
  }

  select {
    border-radius: 20px;
    background   : #F8F8FA;
  }
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: relative !important;
  left    : unset !important;
}

.f-w-600 {
  font-weight: 600;
}

.control-label {
  line-height: 20px;
}

a:hover {
  text-decoration: none;
}

.voice-line.nav-pills {
  height: 36px;
}

.voice-line.nav-pills li a {
  padding    : 10px 0px;
  color      : #4C4C4C;
  font-weight: 300;
  font-size  : 18px;
}

.voice-line.nav-pills li a.active {
  color        : #4C4C4C;
  font-weight  : 600;
  border-bottom: 2px solid #0279FF;
}

.ng-select .ng-select-container {
  position: absolute !important;
}

.serviceTag {
  border-radius: 1em;
  padding      : .3em;
  position     : relative;
  top          : .3em;
  margin-right : .5em;
  color        : #0279ff;
  background   : #f8f8fa !important;
  border       : 1px solid #dfdfdf !important;
}

.voice-containers {
  width  : 100%;
  display: flex;

  .row {
    width  : 100% !important;
    display: flex;
  }
}