<div class="detail-view">
  <div class="w-100 d-flex align-items-center justify-content-between border-bottom">
    <div class="net-ops-title pb-3">
      Dummy profile
    </div>
    <button class="btn btn-link" (click)="displayAddGroup()">Cancel</button>
  </div>
  <div class="device-group-deletion mt-3">
    <table class="table table-borderless table-striped w-100">
      <thead>
        <tr>
          <th>{{ language.Name }}</th>
          <th>{{ language.description }}</th>
          <th>{{ language.Type }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dummy Workflow#1</td>
          <td>-</td>
          <td>Workflow</td>
        </tr>
        <tr>
          <td>Dummy Workflow#2</td>
          <td>-</td>
          <td>Workflow</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>