@import "../../../assets/variables";

.subscriber-details {
  justify-content: space-between;
  align-items    : flex-start;

  .subs-title {
    margin-bottom: 15px;
    .st-header {
      justify-content   : space-between;
      align-items       : center;
      // margin-bottom  : 20px;

      .sth-left {
        width        : auto;
        padding-right: 20px;

        h2 {
          font-size    : 36px;
          font-weight  : 300;
          line-height  : 51px;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
          font-size    : 22px;
          font-weight  : 300;
          line-height  : 28px;
        }
      }

    }

    .sth-rht {
      margin-right: 10px;
    }
  }

  .overview-row {
    justify-content: space-between;

    .ov-col {
      width        : 25%;
      padding-left : 12px;
      margin-bottom: 23px;

      &:nth-child(1) {
        border-left : 0;
        padding-left: 0;
      }

      &:nth-child(5) {
        border-left : 0;
        padding-left: 0;
      }

      p {
        margin-bottom: 15px;
        font-weight  : 400;
      }

      h2 {
        font-size  : 32px;
        font-weight: 300;
        line-height: 23px;

        sub {
          font-size  : 14px;
          font-weight: 400;
          bottom     : 0;
          z-index    : 0;
          left       : 5px;
        }

        &.ov-col-actsubs {
          color: #FB2D55;
        }

        &.ov-col-sysrbt {
          color: #26C0EB;
        }

        &.ov-col-failed {
          color: #349885;
        }
      }
    }
  }

  .tab-reg {
    margin-bottom: 1rem;
    width        : 25%;
  }

  .tabs-wrapper {
    .tabs {
      border-bottom: solid thin $snowgrey;

      a {
        text-align : center;
        line-height: 40px;
        font-size  : 18px;
        font-weight: 300;
        color      : $greyaa;
        padding    : 5px 10px;
        position   : relative;

        &:hover {
          text-decoration: none;

          &::after {
            content   : '';
            position  : absolute;
            bottom    : -1px;
            left      : 0;
            width     : 100%;
            background: $primary;
            height    : 2px;
          }
        }

        &.active {
          font-weight: 400;

          &::after {
            content   : '';
            position  : absolute;
            bottom    : -1px;
            left      : 0;
            width     : 100%;
            background: $primary;
            height    : 2px;
          }
        }
      }
    }
  }

  .filter {
    justify-content: flex-end;
    align-items    : center;
    padding        : 24px 0;

    a {
      font-size  : 13px;
      font-weight: 400;
      color      : $primary;
      margin-left: 40px;

      &:hover {
        text-decoration: none;
      }
    }

    .dropdown-button.show button {
      z-index: 2;
    }

    .dropdown-button.show .dropdown-menu.show {
      z-index: 1;
    }
  }

  .table-responsive {
    margin-bottom: 70px;
  }
}

.fullscreen-table-info {
  font-size: 14px;
}

#netops-list-menu {
  &.left-menu {
    border-right: 1px solid #CCCCCC;

    li {
      margin-right: 30px;

      .list-group-item {
        &:last-child {
          border-radius: 0px;
          border-bottom: 1px solid transparent;
        }
      }

      a {
        color      : #4C4C4C;
        border     : 0px;
        padding    : 10px 0px;
        white-space: nowrap;

        &:hover {
          transition-property       : background;
          transition-duration       : .9s;
          transition-timing-function: linear;
          color                     : #0279FF;
          background                : none;
        }
      }

      a.active {
        color        : #4C4C4C;
        font-weight  : 600;
        border-bottom: 1px solid #0279FF !important;
        background   : none;
      }
    }
  }
}

.list-group-item.active {
  color           : #fff;
  background-color: #007bff;
  border-color    : #007bff;
  position        : relative;
  z-index         : unset !important;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color           : #2078fa;
      background-color: #fff;
      border-color    : #dee2e6 #dee2e6 #fff;
      border-bottom   : 1px solid #2078fa;
    }
  }

  .nav-link.active {
    color           : #2078fa;
    background-color: #fff;
    border-color    : #dee2e6 #dee2e6 #fff;
    border          : none;
    border-bottom   : 1px solid #2078fa;
  }

  border-bottom: none;

  .nav-link {
    &:focus {
      border-color : #e9ecef #e9ecef #dee2e6;
      border       : none;
      color        : #9bc1f9;
      border-bottom: 1px solid #9bc1f9;
    }

    &:hover {
      border-color : #e9ecef #e9ecef #dee2e6;
      border       : none;
      color        : #9bc1f9;
      border-bottom: 1px solid #9bc1f9;
    }
  }
}

a {
  color: #333;
}

.nav-link {
  font-size    : 18px;
  border-bottom: 1px solid transparent;
  cursor       : pointer;
}

a.nav-link {
  color        : #333;
  font-size    : 16px;
  border-bottom: 1px solid transparent;
  cursor       : pointer;

  &:focus {
    border-color : #e9ecef #e9ecef #dee2e6;
    border       : none;
    color        : #083567;
    border-bottom: 1px solid #083567;
  }

  &:hover {
    border-color : #e9ecef #e9ecef #dee2e6;
    border       : none;
    color        : #083567;
    border-bottom: 1px solid #083567;
  }
}

.btn-dft {
  background: #F8F8FA;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    background: #EBEAEF;
  }
}

.highcharts-axis-title {
  margin-top: 10px !important;
}
.modal-cust-space{
  padding: 42px 74px 42px 62px;
  padding-left: 62px;
  padding-right: 74px;
}
::ng-deep{
  .default-modal-ui .modal-content{padding: 0 !important;}
  .default-modal-ui .modal-body{padding-top: 0 !important;}
}
.radio-list{
  input[type="radio"]{margin-top: 6px;}
}
.dropdown {
  .dropdown-menu {
      border-radius: 16px;
      box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.25);
      -webkit-box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.25);
      border-color: rgba(0, 0, 0, .05) !important;
      min-width: 240px;
      button.btn {
          width: 100% !important;
          border-radius: 0px !important;
          text-align: left;


          &:hover {
              background-color: #EDF5FF !important;
          }
      }
  }
}