<div class="loader" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary">
            <span class="sr-only">{{ language.Loading }}</span>
        </div>
    </div>
</div>
<div class="w-100 alert alert alert-danger fade show" *ngIf="0">
    <span class="error-img"><img src="./assets/img/ic_error-36px.svg"></span>
    <button type="button" class="close" (click)="closeAlert()"><span></span></button>
    <div class="d-inline-flex" [innerHtml]="errorInfo"></div>
</div>
<div class="row min-h-400" *ngIf="chsttype !== 'fullscreen'">
    <div class="col-md-12" [ngClass]="">
        <div id="subscriber-impacted-graph-div" class="h-400">
        </div>
    </div>

</div>
<div class="row min-h-400" *ngIf="chsttype === 'fullscreen'">
    <div class="col-md-12" [ngClass]="">
        <div id="subscriber-impacted-graph-div1">
        </div>
    </div>

</div>