.ccl-admin-title{color: #1A1F22;}
.dflex-item h1{
    color: #0054B2;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
}
.dflex-item h5{
    color: #1A1F22;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.ccl-med-title{
font-weight: 400;
font-size: 24px;
line-height: 30px;
border-bottom: 1px solid #CCCCCC;
}
.call-list-table{border-bottom: 0 !important;}