<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 pr-0 ccl-tabs">
        <ul id="netops-list-menu" class="nav flex-column left-menu tab-view-style">
            <!-- <li class="nav-item" *ngIf="scope['subscriberprofileread']">
                <a class="list-group-item list-group-item-action" routerLink="./profiles" id="profiles"
                    routerLinkActive="active">
                    {{ language.Profiles }}
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="Reports"
                    routerLink="/cco/operations/cco-subscriber-operations/reports" routerLinkActive="active">
                    {{ language.Reports}}
                </a>
            </li> -->
            <li class="nav-item" *ngIf="scope['operationsAccess'] && showOperations">
                <a class="list-group-item list-group-item-action" id="Operations"
                    routerLink="/cco/operations/cco-subscriber-operations/operations" routerLinkActive="active">
                    {{ language.Operations}}
                </a>
            </li>
            <li class="nav-item" *ngIf="scope['configurationsAccess']">
                <a class="list-group-item list-group-item-action" id="Configurations" [routerLink]="configurationUrl"
                    [ngClass]="{'active': isConfigurationsActive }">
                    {{ language.Configurations}}
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="list-group-item list-group-item-action" routerLink="./secure-onboard" id="secure-onboard"
                    routerLinkActive="active">{{ language.Secure_Onboarding }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" routerLink="./stale-device" id="stale-device"
                    routerLinkActive="active">{{ language.Stale_Device_Purge }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subNet" routerLink="./subnet-configuration"
                    routerLinkActive="active">{{ language.Subnet_Configuration }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./sub-profile"
                    routerLinkActive="active">{{ language.Subscriber_Profile }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./software-image"
                    routerLinkActive="active">{{ language.Software_Images }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./device-groups"
                    routerLinkActive="active">{{ language.Groups }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./netprofiles"
                    routerLinkActive="active">{{ language.Profiles }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./workflows"
                    routerLinkActive="active">{{ language.Workflows }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./performance-testing"
                    routerLinkActive="active">{{ language.Performance_Testing }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./configuration-files"
                    routerLinkActive="active">{{ language.configuration_Files }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./external-file-server"
                    routerLinkActive="active">{{ language.External_File_server }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./self-heal"
                    routerLinkActive="active">{{ language.Self_Heal }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./site-scan"
                    routerLinkActive="active">{{ language.Site_Scan }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./speed-testing"
                    routerLinkActive="active">{{ language.Speed_Test }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./inventory-report"
                    routerLinkActive="active">{{ language.Inventory_Report }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./unassociated-devices"
                    routerLinkActive="active">{{ language.Unassociated_System }}
                </a>
            </li>
            <li class="nav-item">
                <a class="list-group-item list-group-item-action" id="subProfile" routerLink="./call-outcome-report"
                    routerLinkActive="active">{{ language.Call_Outcome_Report }}
                </a>
            </li> -->
        </ul>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10 pl-4">
        <router-outlet></router-outlet>
    </div>
</div>