.mand-field
{
position: relative;
.required-field {
    color: #D9001B;
    font-size: 20px;
    position: absolute;
    top: -4px;
    right: -11px;
 }
}
.see_pass{position: absolute; top: 13px;right: 20px;}