.color-red {
  color: $light-red !important;
}

.color-green {
  color: $success !important;
}

.color-grey {
  color: $light-grey !important;
}

.color-white {
  color: $white !important;
}

.color-calix-grey {
  color: $calix-grey !important
}

.color-calix-dark {
  color: $calix-black !important;
}

.color-dark-grey {
  color: $dark-grey !important;
}
