input, select{
    border-radius: 20px;
    background: #F8F8FA;
}
.br-20{
    border-radius: 20px;
}
.errorMsg{
    color: #C70000;
  }
  .password_view, .password_hide {
    right: 30px;
    top: 14px;}