// .nav-link{
//     padding: 0.5rem 0.4rem !important;
// }
// .nav-tabs{
//     border-bottom: 2px solid #dadada !important;
//     margin-bottom: 10px !important;
// }
// .nav-link.active{
//     color: #083567 !important;
//     border-bottom: 1px solid #083567 !important;
// }


.ccl-tabs .nav-tabs li {
    border-bottom:1px solid #cccccc !important;
}

.ccl-tabs {
    overflow-x: auto !important;
}

.nav-tabs .nav-item a {
    font-size  : 18px;
    white-space: nowrap;
}

#tabs.nav-tabs {
    display  : inline-flex;
    flex-wrap: nowrap;
    width    : 100%;
}

.nav-tabs .nav-item a.nav-link {
    padding: 0px 10px;
}