.stopAction {
  pointer-events: none;
}

.green {
  color: #82BF00;
}

.red {
  color: #C70000;
}

.wan-dropdown {
  line-height: 26px;
}

.support-key-value th {
  width: 50%;

}

.support-key-value tr {
  width        : 100%;
  border-bottom: 1px solid #EBEAEF;
  line-height  : 24px;
}

.support-key-value td {
  width: 50%;
}

#voiceLineCallsId {
  tr {
    border-bottom: 1px solid #EBEAEF;
  }
}

.service-video-tables {
  table {
    width        : 100%;
    border-bottom: 1px solid #cccccc !important;

    thead {
      tr {
        th {
          font-size    : 16px;
          font-weight  : 600 !important;
          color        : #1A1F22;
          line-height  : 18.75px;
          padding      : 10px 10px 10px 0px;
          border-bottom: 1px solid #cccccc;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size  : 15px;
          font-weight: 400;
          color      : #1A1F22;
          padding    : 10px 10px 10px 0px;
        }
      }
    }
  }
}
.text-center-fbold{text-align:center;font-weight: bold;}
.pl-22{padding-left: 22px;}