<div class="loader" *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="mailchimpPostError" class="alert alert-warning alert-dismissible fade show"
role="alert">
<strong>{{language.ERROR}}!</strong> {{mailchimpPostErrorMsg}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)='errorResetTab()'></span>
</button>
</div>

<!-- <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successmsg">
  <strong>{{ language.Success }}!</strong>
  {{ language.Call_Disposition_Successfully }}
  <button type="button" class="close" (click)="successmsg = !successmsg closeModal()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"></span>
  </button>
</div> -->
<div class="page-wrapper" [hidden]="loading">
  <div class="subscriber-details">
    <div class="subs-title">
      <div class="st-header border-bottom">
        <div class="sth-left position-relative">
          <div class="ccl-mktg-large-title greyaa pb-4" id="Mailchimp-config">
            {{language.Mailchimp_Marketing_Channel_Configuration}}</div>
          <span class="pos-right">
            <div class="sth-rht flex">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeComponent()">
                <span class="right-5" aria-hidden="true"></span>
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="audiencePostSuccess">
      {{language.Audience}}&nbsp;{{message}}&nbsp;
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" (click)='errorReset()'></span>
      </button>
    </div>
    <!-- <section class='FlexContainer'>
      <div>Test Connection</div>
      <div>Instructions</div>
    </section> -->





    <div class="mailchimp-Config-container">
      <div class="mailchimp-Config-left">
        <div class="conf-sec mb-4 " *ngIf="!validMailchimpToken">
          <div class="ccl-mktg-title border-bottom mt-4 mb-3" id="mc-Configure">
            {{language.Configure}} </div>
          <button class="btn-default primary" (click)="mailchimpModalOpen()"> {{language.Connect_Mailchimp}} </button>
        </div>
        <div class="conf-sec" *ngIf="validMailchimpToken">
          <div class="ccl-mktg-title border-bottom mt-4 mb-3"
            id="mc-test-conntection">1.
            {{language.Test_Connection}} <span class="d-inline-flex float-right mr-3">
              <div class="view-data">
                <div class="dropdown-button dot-drop" ngbDropdown>
                  <button class="mr-2" id="dropdownPeriod" ngbDropdownToggle>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                      style="enable-background:new 0 0 512 512;" xml:space="preserve">
                      <g>
                        <g>
                          <g>
                            <circle cx="256" cy="256" r="64" />
                            <circle cx="256" cy="448" r="64" />
                            <circle cx="256" cy="64" r="64" />
                          </g>
                        </g>
                      </g>

                    </svg>

                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownPeriod">
                    <button ngbDropdownItem class="greyaa"
                      (click)="errorMailModalOpen()">{{language.remove_conection}}</button>

                  </div>
                </div>
              </div>
            </span></div>

          <!-- <div class="col-lg-6 col-md-6 col-sm-12">
            <hr>
          </div> -->
          <button class="btn-default primary mb-4" #testConnectionBlur (mouseup)="testConnection()">
            {{language.Test_Connection}} </button>
        </div>
        <div class="mb-5 d-flex-m" *ngIf="validMailchimpToken && !hasAudienceList">

          <label id="select-mailchimp-audience" class="ccl-mktg-title select-mailchimp">2.
            {{language.Select_Mailchimp}}
            <span id="serviceDataRefresh" class="refresh-icon float-right-pointer"
              (click)="getAudience(0)">
              <img src="assets/img/Refresh-icon.svg" (click)="refreshAudience(0)" class="primary mr-1">
            </span>
          </label>
          <div class="col-lg-6 col-md-6 col-sm-12">

          </div>



          <div class="conf-sec w-97">
            <label>{{language.Audience}} <span class="alert-icon">*</span> </label>
            <!-- <p class="text-muted mt-2 f-s-14px">{{language.selectexist}}</p> -->
            <div class="flex-start ">
              <ng-select id="statusId" placeholder="{{language.SelectAudience}}" (ngModelChange)="selectstatus($event)"
                [items]="statusData" bindLabel="name" [(ngModel)]="statusSelected"
                class="selectboxwidth d-inline-flex w-100" [clearable]="false">
              </ng-select>
            </div>
            <p class="c-red" *ngIf="checkValid">*{{language.audiencelist}}</p>
            <p class="text-muted mt-2">{{language.audiencecreate}}</p>

            <button class="btn-default mr-3 primary" (click)="saveAudi()"> {{language.Save_Audience}} </button>

          </div>
        </div>
        <div class="mb-5 flex-wrap" *ngIf="validMailchimpToken && hasAudienceList">
          <label class="mc-aud" id="mc-audience"
            class="ccl-mktg-title">2. {{language.Mailchimp_Audience}}</label>
          <div class="conf-sec">
            <label class="mailchimp-audience-lable">{{language.Selected_Audience}}</label>
            <div class="flex-start">

              <input id="updateId" class="d-inline-flex w-100 clr-gray" placeholder="Calix Audience" readonly
                 [(ngModel)]="audienceSelected">
            </div>
            <button class="btn-default btn-dft  mr-3 mt-3" id="update_audience" (click)="updateAudi()">
              {{language.Update_Audience}}
            </button>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="mailchimp-Config-right">
        <div class="conf-sec">
          <div class="ccl-mktg-title border-bottom mt-4" id="mc-instr"> {{language.Instructions}}
          </div>

          <div class="container">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 px-0">

                <p>{{language.mailchimp_ins_2}}<a href="https://login.mailchimp.com/signup/"
                    target="_blank">&nbsp;{{language.mailchimp_ins_2_1}}</a>.</p>
                <ol class="mailchimp-configuration-li ml-4 text-justify">
                  <li>{{language.mailchimp_ins_3}}<b>&nbsp;{{language.mailchimp_ins_3_2}}</b>
                    &nbsp;{{language.mailchimp_ins_3_1}}</li>
                  <li>
                    {{language.mailchimp_ins_4}}<b>&nbsp;{{language.mailchimp_ins_4_2}}</b>&nbsp;{{language.mailchimp_ins_4_1}}
                  </li>
                  <li>
                    {{language.mailchimp_ins_5}}
                  </li>
                  <li>
                    {{language.mailchimp_ins_6}}
                  </li>
                  <p> {{language.mailchimp_ins_7_1}}<a href="https://community.calix.com/s/"
                      target="_blank">&nbsp;{{language.mailchimp_ins_7}}.</a></p>
                </ol>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-4" *ngIf="validMailchimpToken">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="conf-sec mb-4 border-bottom flex-space-between">
          <label class="mb-0"> Configure * </label>
          <span class="refresh-icon">
            <img src="assets/images/refresh.svg">
          </span>
        </div>
        <div class="conf-sec">
          <label> Test Connection *</label>
          <p> In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
            visual form of a document or a typeface without </p>
          <ng-select id="statusId" bindLabel="name" bindValue="name" class="selectboxwidth d-inline-flex w-100"
            [clearable]="false">
          </ng-select>
          <p class="text-muted mt-2 f-s-14px"> In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a typeface without </p>
          <button class="btn-default primary"> Test Connection </button>
        </div>
      </div>
    </div> -->



    <!-- <div class="row mt-4 mb-5" *ngIf="facebookconnection">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <form class="custom-form conf-sec">
          <div class="form-group ccl-form ">
            <label class="col-sm-12 col-form-label">Enter Facebook API Key * <span class="required-field"> *
              </span>
            </label>
            <input type="text" maxlength="255" autocomplete="off" placeholder="" class="selectboxwidth">

          </div>
          <div class="form-group ccl-form ">
            <label class="col-sm-12 col-form-label">Facebook Business Account ID * <span class="required-field"> *
              </span>
            </label>
            <input type="text" maxlength="255" autocomplete="off" placeholder="" class="selectboxwidth">

          </div>

          <div class="pl-2">
            <label class="mt-3"> Test Connection *</label>
            <button class="btn-default primary"> Test </button>
          </div>



        </form>
      </div>
    </div> -->

  </div>
</div>

<ng-template #mailchimpModal let-modal class="col-md-12 small-model">
  <div>
    <h5>{{language.Connection_configuration}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-header">
    <div class="mail-chimp">
      <img src="assets/img/Mailchimp-logo.png">
      <h2 id="mail-chimp-span">{{language.Mailchimp}}</h2>
    </div>

  </div>
  <div class="modal-body flex-center">
    <button class="btn-default primary" (click)="openMailchimp()">
      {{language.Log_in_Mailchimp}} </button>
  </div>
</ng-template>

<ng-template #successConnectModal let-modal class="col-md-12 small-model">
  <div class="modal-header">
    <h2>{{ language.testConnection }}</h2>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"></span>
    </button> -->

  </div>
  <div class="modal-body">
    <div class="text-center msg-content">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
      </svg>


      <h3> {{language.Successful_Connection}}</h3>
      <p>{{language.success_configured}}</p>
      <button class="btn-default primary" (click)="closeModal()"> {{language.camapign_ok}} </button>
    </div>

  </div>
</ng-template>
<ng-template #successConnectErrorModal let-modal class="col-md-12 small-model">
  <div class="modal-header">


  </div>
  <div class="modal-body">
    <div class="text-center msg-content">
      <!-- // success svg  -->
      <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
      </svg> -->

      <!-- // error svg  -->

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
      </svg>

      <h3> {{language.error_configured}}</h3>
      <button class="btn-default primary" (click)="closeModal()"> {{language.ok}} </button>
    </div>

  </div>
</ng-template>


<ng-template #errorMailModal let-modal class="col-md-12 small-model">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="msg-content">
      <!-- // success svg  -->
      <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
      </svg> -->

      <!-- // error svg  -->

      <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
      </svg> -->
      <div class="">
        <div class="wl-50"><img src="assets/img/warning-icon-36px.svg"
            alt="" /></div>
        <div class="wl-80">
          <b> {{language.removemsg}}</b>
          <br>
          {{language.removeerrormsg}}
        </div>

      </div>
      <div class="text-center"> <button class=" mt-2 btn-default primary" (click)="remove_connection()">
          {{language.remove_conection}} </button></div>

    </div>

  </div>
</ng-template>


<ng-template #saveConnectModal let-modal class="col-md-12 small-model">

  <div class="modal-body">
    <div class="text-center msg-content">
      <!-- // success svg  -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
          cy="65.1" r="62.1" />
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
      </svg>

      <!-- // error svg  -->

      <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
      </svg> -->

      <h3>{{language.Audience}}&nbsp;{{language.Save_Message}}&nbsp;</h3>
      <button class="btn-default primary" (click)="openMarketingChannel()">{{language.camapign_ok}} </button>
    </div>

  </div>
</ng-template>

<ng-template #successLoadingModal let-modal class="col-md-12 small-model">
  <div class="modal-header">
    <h2>{{ language.testConnection }}</h2>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"></span>
    </button> -->

  </div>
  <div class="modal-body">
    <div class="text-center msg-content">
      <div class="spinner-border text-primary wh-r">
        <span class="sr-only">Loading...</span>
      </div>
      <br><br>
      <h6><b>{{language.Few_Moments}}</b></h6>
    </div>

  </div>
</ng-template>