.f-w-600{
    font-weight: 600;
  }
  [type=radio]:checked, [type=radio]:not(:checked) {
      position: relative !important;
      left: unset !important;
  }
  table.dataTable thead tr th {
    font-size: 16px;
    font-weight: 400;
    color: #4C4C4C;
    line-height: 22px;
    padding: 10px 10px;
    border-bottom: 1px solid #cccccc;
    border-top: transparent !important;
    // width: calc(100% / 3) !important;
    word-break: break-word !important;
}
.w-45{width: 45% !important;}
.w-40{width: 40% !important;}
.w-15{width: 15% !important;}