.fs-5 {
    font-size: 1.25rem!important;
}
.instal-info{
    background-color: #0279ff;
    color: #fff;
}
.content {
    background-color: #90979d;
    // height: 100%;
}
.py-sm-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.h-100{
    height: 100px;
}
.fw-600 {
    font-weight: 600;
}
.fs-sm {
    font-size: .875rem;
    line-height: 1.4;
}
.video-box{
    max-width: 480px;
    background: #000;
    padding: 15px;
    border-radius: 5px;
}
.list-content{
    max-width: 640px;
    margin: auto;
}
.white-logo-image-box {
    background-color: #dedede;
    padding         : 10px;
  }
  button.btn-lang {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}
.cd-title {
    font-weight: 700;
    color: #0279ff;
    text-align: right;
    text-transform: uppercase;
    word-break: break-all;
}
.logo-img {
    background-color: #EBEAEF;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 240px !important;
    max-height: 150px !important;
}