<div class="container position-relative" *ngIf="!showConstructionPage">
    <div class="loader" *ngIf="!dataAvailable">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary">
                <span class="sr-only">{{language.Loading}}</span>
            </div>
        </div>
    </div>
    <div class="w-100 alert alert-danger  fade show" *ngIf="error">
        <span class="error-img"><img src="./assets/img/ic_error-36px.svg"></span>
        <button type="button" class="close" (click)="closeAlert()"><span></span></button>
        <div class="d-inline-flex" [innerHtml]="errorInfo"></div>
    </div>

    <div class="w-100 alert alert-success fade show" *ngIf="success">
        <button type="button" class="close" (click)="closeAlert()"><span></span></button>
        <div class="d-inline-flex align-items-center">
            <span class="d-inline-flex mr-2"><img src="../../../assets/img/ic_success-circle-outline.svg" /></span>
            <div class="d-inline-flex" [innerHtml]="successInfo"></div>
        </div>
        
    </div>

    <div class="row mt-3" *ngIf="supportCloudShow">
        <div class="col ccl-title">{{language.supportcloudroles}} </div>

    </div>
    <div class="row mb-1" *ngIf="supportCloudShow && scopeWriteAccess ">
        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-support" class="btn-default primary px-3 mx-2"
                    *ngIf="supportCloudDeletes.length != 0"
                    (click)="deleteMultiRoles('supportCloud')">{{language.delete}}</button>
                <button id="add-role-support" class="btn-default primary px-3"
                    (click)="addRole('supportCloud')">{{language.addnewrole}}</button>
            </div>
        </div>
    </div>
    <div [ngClass]="tableDisplay ? 'row my-2 display-visible' : 'row my-2 visiblity-hidden'">
        <div class="col" *ngIf="dataAvailable">
            <table id="supportCloud-table" width="100%" class="row-border hover table-alter w-100" datatable
                [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column">
                            <input type="checkbox" name="supportCloudCheckall" id="supportCloudCheckall"
                                (click)="supportCloudCheckall($event.target.checked)"
                                [disabled]="supportCloudRolesData?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui check-intermediate" id="supportCloudCheckall-span"
                                (click)="showAllUserCheckBox($event, 'supportCloud')" style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of supportCloudRolesData">
                        <td class="checkbox-column">
                            <input type="checkbox" name="support_del_{{item._id}}" [checked]="supportCloudChecked"
                                value="{{item.roles}}" id="{{item._id}}" [disabled]="!scopeWriteAccess"
                                (change)="supportCloudCheckOne(item,$event.target.checked)">

                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-support" class="fas fa-pencil-alt p-1 cursor-pointer primary"
                                title="{{language.Edit}}" (click)="gotoRoleDetail(item,'supportCloud')"></i>
                            <i *ngIf="scopeWriteAccess" id="role-del-support" class="fas fa-trash-alt p-1 cursor-pointer primary"
                                title="{{language.delete}}" (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3" *ngIf="marketingCloudShow && scopeWriteAccess">
        <div class="col ccl-title">{{language.marketingcloudroles}}</div>

    </div>
    <div class="row mb-2" *ngIf="marketingCloudShow && scopeWriteAccess">
        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-marketing" class="btn-default primary px-3 mx-3"
                    *ngIf="marketingCloudDeletes.length != 0"
                    (click)="deleteMultiRoles('marketingCloud')">{{language.delete}}</button>
                <button id="add-role-marketing" class="btn-default primary px-3"
                    (click)="addRole('marketingCloud')">{{language.addnewrole}}</button>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col" *ngIf="dataAvailable">
            <table id="marketingCloud-table" width="100%" class="row-border hover table-alter w-100" datatable
                [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column"><input type="checkbox" name="marketingCloudCheckedAll"
                                id="marketingCloudCheckedAll" (click)="marketingCloudCheckedAll($event.target.checked)"
                                [disabled]="marketingCloudRolesData?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui check-intermediate" id="marketingCloudCheckedAll-span"
                                (click)="showAllUserCheckBox($event, 'marketingCloud')" style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of marketingCloudRolesData">
                        <td class="checkbox-column">
                            <input type="checkbox" name="marketing_del_{{item._id}}" [checked]="marketingCloudChecked"
                                value="{{item.roles}}" id="{{item._id}}" [disabled]="!scopeWriteAccess"
                                (change)="marketingCloudCheckedOne(item,$event.target.checked)">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-marketing" class="fas fa-pencil-alt p-1 primary"
                                title="{{language.Edit}}" (click)="gotoRoleDetail(item,'marketingCloud')"></i>
                            <i id="role-del-marketing" *ngIf="scopeWriteAccess" class="fas fa-trash-alt p-1 primary cursor-pointer" title="{{language.delete}}"
                                (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3" *ngIf="smartHomeShow">
        <div class="col ccl-title"> {{language.smarthome}} </div>

    </div>
    <div class="row my-2" *ngIf="smartHomeShow && scopeWriteAccess">

        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-smart" class="btn-default primary px-3 mx-3" *ngIf="smartHomeDeletes.length != 0"
                    (click)="deleteMultiRoles('smartHome')">{{language.delete}}</button>
                <button id="add-role-smart" class="btn-default primary px-3"
                    (click)="addRole('smartHome')">{{language.addnewrole}}</button>
            </div>
        </div>
    </div>

    <div class="row my-2" *ngIf="smartHomeShow">
        <div class="col" *ngIf="dataAvailable">
            <table id="smartHome-table" width="100%" class="row-border hover table-alter" datatable
                [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column">
                            <input type="checkbox" name="smartHomeCheckedAll" id="smartHomeCheckedAll"
                                (click)="smartHomeCheckedAll($event.target.checked)"
                                [disabled]="smartHomeRoles?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui" id="smartHomeCheckedAll-span"
                                (click)="showAllUserCheckBox($event, 'smartHome')" style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of smartHomeRoles">
                        <td class="checkbox-column">
                            <input type="checkbox" name="smarthome_del_{{item._id}}" id="{{item._id}}"
                                [checked]="smartHomeChecked" value="{{item.roles}}" [disabled]="!scopeWriteAccess"
                                (click)="smartHomeCheckedOne(item,$event.target.checked)">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-smart" class="fas fa-pencil-alt p-1 primary" title="{{language.Edit}}"
                                (click)="gotoRoleDetail(item,'smartHome')"></i>
                            <i id="role-del-smart" *ngIf="scopeWriteAccess" class="fas fa-trash-alt p-1 primary cursor-pointer" title="{{language.delete}}"
                                (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3" *ngIf="faShow">
        <div class="col ccl-title"> {{language.faRoles}} </div>

    </div>
    <div class="row my-2" *ngIf="faShow && scopeWriteAccess">

        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-fa" class="btn-default primary px-3 mx-3" *ngIf="faDeletes.length != 0"
                    (click)="deleteMultiRoles('fa')">{{language.delete}}</button>
                <button id="add-role-fa" class="btn-default primary px-3"
                    (click)="addRole('fa')">{{language.addnewrole}}</button>
            </div>

        </div>
    </div>
    <div class="row myy-2" *ngIf="false">
        <div class="col" *ngIf="dataAvailable">
            <table id="fa-table" width="100%" class="row-border hover table-alter" datatable [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column">
                            <input type="checkbox" name="faCheckedAll" id="faCheckedAll"
                                (click)="faCheckedAll($event.target.checked)" [disabled]="faRoles?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui" id="faCheckedAll-span" (click)="showAllUserCheckBox($event, 'fa')"
                                style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of faRoles">
                        <td class="checkbox-column">
                            <input type="checkbox" name="fa_del_{{item._id}}" id="{{item._id}}" [checked]="faChecked" [disabled]="!scopeWriteAccess"
                                value="{{item.roles}}" (click)="faCheckedOne(item,$event.target.checked)">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-fa" class="fas fa-pencil-alt p-1 primary" title="{{language.Edit}}"
                                (click)="gotoRoleDetail(item,'fa')"></i>
                            <i id="role-del-fa" *ngIf="scopeWriteAccess" class="fas fa-trash-alt p-1 primary cursor-pointer" title="{{language.delete}}"
                                (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- CCO ROLES -->
    <div class="row mt-3" *ngIf="ccoRoleShow">
        <div class="col ccl-title"> {{language.cco_roles}} </div>

    </div>
    <div class="row my-2" *ngIf="ccoRoleShow && scopeWriteAccess">

        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-cco" class="btn-default primary px-3 mx-3" *ngIf="ccoDeletes.length != 0"
                    (click)="deleteMultiRoles('cco')">{{language.delete}}</button>
                <button id="add-role-cco" class="btn-default primary px-3"
                    (click)="addRole('cco')">{{language.addnewrole}}</button>
            </div>

        </div>
    </div>
    <div class="row myy-2" *ngIf="ccoRoleShow">
        <div class="col" *ngIf="dataAvailable">
            <table id="cco-table" width="100%" class="row-border hover table-alter" datatable [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column">
                            <input type="checkbox" name="ccoCheckedAll" id="ccoCheckedAll"
                                (click)="ccoCheckedAll($event.target.checked)" [disabled]="ccoRoles?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui check-intermediate" id="ccoCheckedAll-span"
                                (click)="showAllUserCheckBox($event, 'cco')" style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ccoRoles">
                        <td class="checkbox-column">
                            <input type="checkbox" name="cco_del_{{item._id}}" id="{{item._id}}" [checked]="ccoChecked" [disabled]="!scopeWriteAccess"
                                value="{{item.roles}}" (click)="ccoCheckedOne(item,$event.target.checked)">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-cco" class="fas fa-pencil-alt p-1 primary" title="{{language.Edit}}"
                                (click)="gotoRoleDetail(item,'cco')"></i>
                            <i id="role-del-cco" *ngIf="scopeWriteAccess" class="fas fa-trash-alt p-1 primary cursor-pointer" title="{{language.delete}}"
                                (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Foundation -->
    <div class="row mt-3">
        <div class="col ccl-title"> {{language.foundation_roles}} </div>

    </div>

    <div class="row my-2" *ngIf="foundationRoleShow && scopeWriteAccess">

        <div class="col-md-4 offset-md-8 pr-0">
            <div class="text-right flat-right">
                <button id="del-mul-foundation" class="btn-default primary px-3 mx-3"
                    *ngIf="foundationDeletes.length != 0"
                    (click)="deleteMultiRoles('foundation')">{{language.delete}}</button>
                <button id="add-role-foundation" class="btn-default primary px-3"
                    (click)="addRole('foundation')">{{language.addnewrole}}</button>
            </div>

        </div>
    </div>

    <div class="row my-2">
        <div class="col" *ngIf="dataAvailable">
            <table id="foundation-table" width="100%" class="row-border hover table-alter w-100" datatable
                [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%" class="checkbox-column">
                            <input type="checkbox" name="foundationCheckedAll" id="foundationCheckedAll"
                                (click)="foundationCheckedAll($event.target.checked)"
                                [disabled]="foundationRoles?.length == 0 || !scopeWriteAccess">
                            <span class="checkbox-ui check-intermediate" id="foundationCheckedAll-span"
                                (click)="showAllUserCheckBox($event, 'foundation')" style="display: none;"></span>
                        </th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="40%">{{language.Decription}}</th>
                        <th width="20%">{{language.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of foundationRoles">
                        <td class="checkbox-column">
                            <input type="checkbox" name="foundation_del_{{item._id}}" id="{{item._id}}"
                                [checked]="foundationChecked" value="{{item.roles}}" [disabled]="!scopeWriteAccess"
                                (click)="foundationCheckedOne(item,$event.target.checked)">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                        <td class="actions">
                            <i id="role-detail-foundation" class="fas fa-pencil-alt p-1 primary"
                                (click)="gotoRoleDetail(item,'foundation')"></i>
                            <i id="role-del-foundation" *ngIf="scopeWriteAccess" class="fas fa-trash-alt p-1 primary cursor-pointer" title="{{language.delete}}"
                                (click)="roleDelete(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col ccl-title"> {{language.systemroles}} </div>

    </div>

    <div class="row my-2">
        <div class="col" *ngIf="dataAvailable">
            <table id="system-table" width="100%" class="row-border hover table-alter" datatable [dtOptions]="dtOptions">
                <thead class="">
                    <tr>
                        <th width="5%"></th>
                        <th width="35%">{{language.roles}}</th>
                        <th width="60%">{{language.Decription}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of systemRoles">
                        <td></td>
                        <td>{{item.name}}</td>
                        <td>{{item.description || ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div *ngIf="showConstructionPage">
    <div class="text-center">
        <h1 class="primary">Page under construction!</h1>
        <h4>Will be available soon</h4>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="w-50" src="./assets/images/under-construction-illustration.svg" alt="Page under construction!" />
        </div>
    </div>


</div>

<!-- Modals -->
<ng-template #deleteModal let-data let-ref="dialogRef">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        {{language['Are you sure you want to delete this Role']}}?<br>
        ({{modalInfo}})
    </div>
    <div class="modal-footer">
       
        <button type="button" class="btn-default primary px-3" data-dismiss="modal"
            (click)="confirmDelete()">{{language.yes}}</button>
            <button type="button" class="btn-default btn-dft py-1 px-3" data-dismiss="modal"
            (click)="closeModal()">{{language.no}}</button>
    </div>
</ng-template>

<ng-template #multiDeleteModal let-data let-ref="dialogRef">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        {{language['Are you sure you want to delete these selected Roles']}}?<br>
        ({{modalInfo}})
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn-default primary px-3" data-dismiss="modal"
            (click)="confirmDeleteSecleted()">{{language.yes}}</button>
        <button type="button" class="btn-default btn-dft py-1 px-3" data-dismiss="modal"
        (click)="closeModal()">{{language.no}}</button>
    </div>
</ng-template>
<!-- Modals -->