<div class="oper-inner-sec">
  <button type="button" class="btn-default primary px-3">
    {{ language.Add_Group }}
  </button>

  <table class="row-border smal mb-0 dataTable table home-table px-3 mt-3">
    <thead>
      <tr>
        <th>{{ language.Name }}</th>
        <th>{{ language.Description }}</th>
        <th>{{ language.Type }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span> Susan Jordan</span></td>
        <td><span> </span></td>
        <td><span> Dynamic </span></td>
        <td>
          <div class="actions">
            <span
              class="fa fa-trash-o"
              style="cursor: pointer"
              title="{{ language.Delete }}"
            ></span>
          </div>
        </td>
      </tr>
      <tr>
        <td><span> Susan Jordan</span></td>
        <td><span> </span></td>
        <td><span> Dynamic </span></td>
        <td>
          <span
            class="fa fa-trash-o"
            style="cursor: pointer"
            title="{{ language.Delete }}"
          ></span>
        </td>
      </tr>
      <tr>
        <td><span> Susan Jordan</span></td>
        <td><span> </span></td>
        <td><span> Dynamic </span></td>
        <td>
          <span
            class="fa fa-trash-o"
            style="cursor: pointer"
            title="{{ language.Delete }}"
          ></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
