.fixed-bottom {
  -webkit-box-shadow: 0px -4px 3px rgba(234, 234, 234, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(234, 234, 234, 0.75);
  box-shadow: 0px -4px 3px rgba(234, 234, 234, 0.75);
  background: white !important;
  #navbarCollapse {
    margin-left: 100px !important;
    margin-right: 120px !important;
  }
}