<div class="maximus  sys-admin-cont">

    <app-admin-header></app-admin-header>

    <div class="alert alert-warning" role="alert" [hidden]="showAdmin">
        {{
        language[
        "Access denied due to RBAC. Please consult your Organization Administrator for access."
        ]
        }}
    </div>

    <div class="row" [hidden]="!showAdmin">
        <div [ngClass]="showRecord?.show !== true ? 'org-left-menu' : ''"
            *ngIf="showAdmin && !showRecord?.show">
            <app-org-admin-side-menu></app-org-admin-side-menu>
        </div>

        <div [ngClass]="showRecord?.show === true ? 'col-md-12 col-sm-12 col-xs-12' : 'org-content-wrapper'" #scrollTopId>
            <div class="w-100 alert alert-danger  fade show" *ngIf="error">
                <span class="error-img"><img src="./assets/img/ic_error-36px.svg"></span>
                <button type="button" class="close" (click)="closeAlert()"><span></span></button>
                <div class="d-inline-flex" [innerHtml]="errorInfo"></div>
            </div>

            <div class="w-100 alert alert-success fade show" *ngIf="success">
                <span class="success-img"><img src="./assets/img/success-icon.svg" /></span>
                <button type="button" class="close" (click)="closeAlert()"><span></span></button>
                {{successInfo}}
            </div>
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>