<div class="row">
    <div class="col-md-3">
        <h2 class="user-name mb-0">Jonathan Mason</h2>
        <p class="pin-code">622 020</p>
        <p class="mb-0 address">
            123, Address Drive,
        </p>
        <p class="mb-0 address">
            City Name, State - 50210 - 2020
        </p>
        <p class="mb-0 address">
            +33 145 - 124 - 5282
        </p>
        <p class="address">
            Username@gmail.com
        </p>
        <p class="call-count">
            Call in 3 Months: 6
        </p>
    </div>
    <div class=col-md-9>
        <div class="btn-group d-inline-flex align-items-center justify-content-end w-100 mb-5">
            <button class="btn btn-primary md-btn blue-btn mr-2">{{language.SSID_Manager}}</button>
            <button class="btn btn-secondary md-btn blue-btn mr-2">{{language.Call_Outcome}}</button>
            <button class="btn btn-secondary md-btn blue-btn mr-0">{{language.Notes}}</button>
        </div>
        <div class="row m-0">
            <div class="col-md-4">
                <div class="cus-card">
                    <div class="title-name">{{language.Video}}</div>
                    <p class="title-content">Premium Package</p>
                </div>
                <div class="cus-card">
                    <div class="title-name">{{language.Voice}}</div>
                    <p class="title-content">SPI Basic Package</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cus-card">
                    <div class="title-name">{{language.Package_Service_Tier}}</div>
                    <p class="title-content">Gold / 10MB</p>
                </div>
                <div class="cus-card">
                    <div class="title-name">{{language.CommandIQ}}</div>
                    <p class="title-content">Installed</p>
                </div>


            </div>
            <div class="col-md-4">
                <div class="cus-card">
                    <div class="title-name">{{language.Insights}}</div>
                    <p class="title-content">Gamer XBox Live</p>
                </div>
                <div class="cus-card">
                    <div class="title-name d-inline-flex justify-content-between align-items-center w-100">
                        <p class="mb-0">{{language.Churn_Risk}}</p>
                        <a href="#" class="more-link">{{language.More_plus}}</a>
                    </div>
                        <p class="title-content">LOW</p>
                </div>
            </div>
        </div>
    </div>
</div>
