<!-- <div class="ccl-tabs my-3">
  <ul id="tabs" class="nav nav-tabs">
    <!-- <li class="nav-item">
      <a routerLink="./ont-age-out" data-toggle="tab" class="nav-link" class="nav-link small"
        id="fileManagement" routerLinkActive="active">{{ language['ONT Age Out'] }}</a>
    </li> -->
<!-- <li class="nav-item">
      <a routerLink="./cco-org-admin" class="nav-link small" id="configuration"
        routerLinkActive="active" data-toggle="tab" class="nav-link" style="padding-left: 0%">{{language['Org Admin']}}</a>
    </li> -->
<!-- <li class="nav-item">
      <a routerLink="./cco-org-admin-add" class="nav-link small" id="configuration" routerLinkActive="active"
        data-toggle="tab" class="nav-link" style="padding-left: 0%">{{language['Org Admin']}}</a>
    </li> 
  </ul>
</div> -->
<div class="col-sm-12 col-md-12 col-lg-12 p-0">
  <router-outlet></router-outlet>
</div>