img {
    vertical-align: middle;
    border-style: none;
    display: inline-block;
    width: 30px;
}

.errorMessage {
    color: #C70000;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px !important;
}