.disabled-but {
    background-color: #EBEAEF;
    color: #4C4C4C;
    font-size: 12px;
    font-weight: 600;
    text-align: Center;
    padding: 5px 8px;
    width: 100px;
    border-radius: 20px;
    line-height: 15.08px;
    margin: 2px 0px;
  
    .dot {
      height: 8px;
      width: 8px;
      background-color: #4C4C4C;
      border-radius: 50%;
      display: inline-block;
    }
  }


  .input-colorpicker{
    position: relative;
    min-width: 135px;
  }
  button.close.btn-custom-clear {
    position: absolute;
    right: 5px;
    top: 13px;
    span{background-size: 13px;}
}
  .color-box {
    cursor: default !important;
    min-width: 50px;
    max-width: 77px;
    height: 36px;
    border-radius: 3px !important;
    font-size: 0;
    box-shadow: none !important;
    margin-left: 12px;
    border: 1px solid #ced4da;
}
button.btn-dload{
  font-size: 14px;
  height: 24px;
  padding: 0px 20px !important;
}
button.btn-dload:disabled{
  background: #F8F8FA !important;
  border-color: #F8F8FA !important;;
  opacity: 0.5;
  color: #1A1F22;
}
.ccl-color-pick {
  max-width: 300px;
}
::ng-deep{.ccl-color-pick .color-picker{margin-top: -40px;margin-left: 85px;}
.ccl-color-pick .color-picker .arrow.arrow-top-left{display: none;}
}