<div class="row justify-content-between">
  <div class="col-12 row pr-1 pl-0 ml-0 mr-0">
    <div class="ccl-form col-md-6 pl-0">
      <input
        #searchAlarmsInput
        type="search"
        [(ngModel)]="searchAlarm"
        placeholder="{{
          language[alarmData?.searchPlaceHolder] ||
            (alarmData['searchPlaceHolder'] ? alarmData.searchPlaceHolder : '')
        }}"
        class="ccl-input"
        id="org-list-search"
      />
      <span
        *ngIf="searchAlarm && searchAlarm.length > 0"
        (click)="clearSearch()"
        aria-hidden="true"
        class="custom-clear"
        >×</span
      >
      <button
        class="serach-but btn-default primary btn-icon-md inline cursor-deft"
      >
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>

    <div
    class="col-md-6 pr-0 text-right"
    *ngIf="alarmData?.tableType == 'non-monitored'"
  >
    <button
      type="button"
      [disabled]="!canAdd"
      id="nextbtn"
      class="btn-arrow btn-arr-nxt primary px-3 mr-2"
      (click)="addRemoveSelectedAlarmList('add', alarmData?.table)"
    >
      {{ language["Add Selected"] }}
      <img src="assets/img/ic_chevron-r-w.svg" />
    </button>
  </div>

  <div
    class="col-md-6 pr-0 text-right"
    *ngIf="alarmData?.tableType == 'monitored'"
  >
    <button
      type="button"
      [disabled]="!canRemove"
      id="nextbtn"
      class="btn-arrow btn-arr-nxt px-3 ml-2 primary"
      (click)="addRemoveSelectedAlarmList('remove', alarmData?.table)"
    >
      <img
        class="mr-2 ml-0"
        src="assets/img/ic_chevron-r-w.svg"
        style="transform: rotate(180deg)"
      />{{ language["Remove
      Selected"] }}
    </button>
  </div>
  </div>
  

  <!-- *ngIf="
          alarmData?.table == 'individual' ||
          alarmData?.table == 'monitoredIndividual'
        " -->
  <div class="drop-down-element">
    <div class="row">
      <div class="col-md-6 pl-0 mt-3">
        <div class="ccl-form">
          <ng-select
            [(ngModel)]="alarmData.searchCategory"
            (change)="searchAlarms($event, 'category')"
            (input)="searchAlarms($event, 'category')"
            placeholder="{{ language[alarmData?.searchCategoryPlaceHolder] }}"
            [items]="alarmData?.categoryList"
            bindValue="id"
            bindLabel="name"
          >
          </ng-select>
        </div>
      </div>
      <!-- <div class="col-md-6 pr-0 mt-3">
        <div class="ccl-form">
          <ng-select
            [(ngModel)]="searchSeverity"
            placeholder="{{ language[alarmData?.searchSeverityPlaceHolder] }}"
            (change)="searchAlarms($event, 'severity')"
            (input)="searchAlarms($event, 'severity')"
            [items]="alarmData?.severityList"
            bindValue="id"
            bindLabel="name"
          >
          </ng-select>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="row mb-3" *ngIf="!canShowTableBody">
  <div class="col-md-12">
    <div class="loader mt-5">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary">
          <span class="sr-only">{{ language.Loading }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overflow-auto w-100">
  <table
    [ngClass]="{ showHideTable: !canShowTableBody }"
    class="
      row-border
      hover
      table-alter
      dataTable
      custom-form-table
      alarm-table-alt
    "
    datatable
    [dtTrigger]="dtTrigger"
    [dtOptions]="dtOptions"
  >
    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input
              #checkAllViewChild
              type="checkbox"
              name="alarmCheckAll"
              id="alarmCheckAll"
              [checked]="alarmData.allSelected"
              (click)="checkUncheckAll(alarmData?.tableType, $event)"
              [disabled]="alarmData.allSelected || alarmData?.data.length == 0"
            />
          </div>
        </th>
        <th scope="col">{{ language["Alarm Name"] }}</th>
        <th scope="col">{{ language.Category }}</th>
        <th scope="col">{{ language["Severity"] }}</th>
        <th scope="col">Alarm Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alarm of alarmData.data; let i = index">
        <td>
          <div class="form-check">
            <input
              type="checkbox"
              (click)="onCheckRow(alarmData?.tableType, $event, i)"
              name="alarm_name"
              [(ngModel)]="alarm['isChecked']"
              [disabled]="alarm['disabled']"
            />
          </div>
        </td>
        <td>{{ alarm.alarm_name }}</td>
        <td>{{ alarm.alarm_category }}</td>
        <td>{{ alarm["severity"] }}</td>
        <td>{{ alarm["alarm_id"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
