<div class="container-fluid sticky-top shad-header px-0">
    <header class="flex">
        <div class="header-left flex">
            <div class="logo">
                <a href="javascript:void(0)" [routerLink]="['/']"><img id="calix-cloud-logo"
                        src="assets/img/calix-Cloud-logo.svg"> </a>
            </div>
        </div>
        <ul class="header-nav flex">
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
        <li><a href="javascript:void(0)">NetOps</a></li>
        <li><a href="javascript:void(0)">Dashboards</a></li> -->
            <li><a
                    href="https://www.calix.com/content/calix/en/site-prod/library-html/software-products/cloud/nm/oc/shad-help/index.htm">{{language.Help}}</a>
            </li>
            <li>
                <app-grid></app-grid>
            </li>
            <li>
                <app-dd-menu></app-dd-menu>
            </li>
        </ul>
    </header>


</div>