<footer class="mt-4">
        <div class="ftr-row flex">
            <div></div>
            <div class="ftr-rht flex">
                <div class="flex ftr-link">
                    <a target="_blank"
                        href="https://www.calix.com/pages/terms-of-use.html">{{language.Terms_and_Conditions}}</a>
                    <a target="_blank"
                        href="https://www.calix.com/content/dam/calix/mycalix-misc/lib/cloud/rn/current/oc-rn.htm">{{language.About_Calix_Cloud}}</a>
                    <a target="_blank"
                        href="https://www.calix.com/about-calix/contact-us.html">{{language.Contact_Calix}}</a>
                    <p>1.877.766.3500</p>
                </div>
            </div>
        </div>
</footer>