.btn-orange {
    background-color: #1d9e74;
    border-color: #1d9e74;
    color: #ffffff;
}

.br-26 {
    border-radius: 26px;
}

input,
select {
    border-radius: 20px;
    background: #F8F8FA;
}

.form-control.is-valid,
.form-control.is-invalid {
    background-image: none;
    padding-right: inherit;
}

.form-control:disabled {
    cursor: not-allowed;
}
.rules-textarea {
    textarea {
        min-height: 60px !important;
        height: auto;
    }
}