.table td {
    border: none;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F8F8FA;
}

.table td {
    font-size  : 15px;
    font-weight: 400 !important;

}

.table th {
    line-height: 32px;
    padding    : 0px 5px !important;
    font-size  : 16px;
    font-weight: 400 !important;
}

.table thead tr th {
    border-top   : none !important;
    border-bottom: 1px solid #CCCCCC;
}

.table tbody tr td span i {
    cursor: pointer;
}

.table td {
    border: none;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F8F8FA;
}

.table td {
    font-size  : 15px;
    font-weight: 400 !important;

}

.table th {
    line-height: 32px;
    padding    : 0px 5px !important;
    font-size  : 16px;
    font-weight: 400 !important;
}

.table thead tr th {
    border-top   : none !important;
    border-bottom: 1px solid #CCCCCC;
}

.table tbody tr td span i {
    cursor: pointer;
}



.box-syle {
    border-radius: 24px;
    border-width : 1px;
    border-color : #ddd;
    min-height   : 250px;
    padding      : 15px;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        cursor         : pointer;
        font-weight: 600;
        font-size: 15px;
    }
    .add-ic{
        position: relative;
        top: -2px;
        img{width: 8px;}
    }
}

.dashed {
    border-style: dashed;
    border-color: #e2e2e2;
    border-width: 2px;
}

.solid {
    border-style: solid;
}

.box-style-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
    a{color: #c5c5c5;}
}

.close {
    cursor : pointer;
    padding: 5px;

    &:hover img {
        fill: #000;
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left    : -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position    : relative;
    padding-left: 20px;
    cursor      : pointer;
    line-height : 10px;
    display     : inline-block;

}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content      : "";
    position     : absolute;
    left         : 0;
    top          : 0;
    width        : 15px;
    height       : 15px;
    border       : 3px solid #0279FF;
    border-radius: 100%;
    background   : #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content      : "";
    width        : 7px;
    height       : 7px;
    background   : #0279FF;
    position     : absolute;
    top          : 4px;
    left         : 4px;
    border-radius: 100%;
    transition   : all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity          : 0;
    -webkit-transform: scale(0);
    transform        : scale(0);
}

[type="radio"]:checked+label:after {
    opacity          : 1;
    -webkit-transform: scale(1);
    transform        : scale(1);
}

.call-outcome-checkbox input {
    width        : auto !important;
    min-height   : 0px !important;
    max-height   : 42px;
    line-height  : inherit;
    border-radius: 26px;
    background   : #f8f8fa;
    padding      : 0px 18px;
    font-size    : 14px;
    font-weight  : 400;
    color        : #646363;
    border       : 1px solid transparent;
}

.options-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .op-item{
        margin-right: 15px;
        margin-bottom: 15px;
        .call-outcome-lable{
            position: relative;
            background-color: #dcecff;
            color: #0058b9;
            border-radius: 24px;
            min-width: 100px;
            padding: 2px 40px 5px 15px;
            text-align: center;
            label{margin: 0px;font-weight: bold;font-size: 15px;}
            a.rmv-icon{
             position: absolute;
             right: 15px;
             cursor: pointer;
             padding: 0;
             top: 3px;
             img{width: 8px;}
            }
        }
    }
    a.disabled {
        pointer-events: none;
        cursor: not-allowed; 
        color: #c5c5c5;
     }
}
.disabledCategories {
    pointer-events: none;
    cursor: not-allowed; 
  //  color: #c5c5c5;
 }


 

/*Key Frame*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
    -webkit-animation-name: fadeInOpacity;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.error-img{ 
    width: 38px; float: left; height: 100%;
    img{width: 24px;height: 24px;}
}
.product-title{
    font-weight: 400;
font-size: 24px;
line-height: 30px;
border-bottom:1px solid #CCCCCC ;
padding-bottom: 6px;
margin-bottom: 8px;
}