<div class="row relative-position">
    <div class="loader" *ngIf="loader || micrositeloader || loading || editLoader || bsploader">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-primary">
            <span class="sr-only">{{language.Loading}}</span>
          </div>
        </div>
      </div>
      <div class="w-100 alert alert-danger fade show" *ngIf="error">
        <span class="error-img"><img src="./assets/img/ic_error-36px.svg" /></span>
        <button type="button" class="close" (click)="closeAlert()">
          <span></span>
        </button>
        <div class="d-inline-flex" [innerHtml]="language[errorInfo] || errorInfo"></div>
      </div>
    
      <div class="w-100 alert alert-success fade show" *ngIf="success">
        <span class="success-img"><img src="./assets/img/success-icon.svg" /></span>
        <button type="button" class="close" (click)="closeAlert()">
          <span></span>
        </button>
        <div class="d-inline-flex" [innerHtml]="language[successInfo] || successInfo"></div>
      </div>
    <!-- <div class="col-md-12">
      <div class="cco-secondary-title border-bottom mb-2">{{language["Bsp_Microsites"]}}
      </div>
    </div> -->
    <div class="col-md-12"> <button class="btn-default primary px-3 mt-1" data-toggle="modal"
        [disabled]="!ShowMicrosite" data-target=".bd-example-modal-lg"
        (click)="addMicroSiteValue();buttonText = 'Bsp_Add_Microsite'">{{language['Add_Community_Btn']}} </button>
      <div class="d-inline-flex ml-2" title="{{language.Refresh}}" *ngIf="tableData?.length"><span id="refreshicon"
          (click)="GetMicrosites()" class="cursor-pointer"> <img src="./assets/img/ic_refresh.svg"> </span></div>
    </div>
    <div class="col-md-12">
      <div class="microsites-table mt-3" [hidden]="!tableDataAvailable">
        <table class="table" *ngIf="tableDataAvailable" #table1 datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th (click)="showNoDataAvailable()">{{language["Bsp_Microsite_Name"]}}</th>
              <th (click)="showNoDataAvailable()">{{language["Bsp_Microsite_Description"]}} </th>
              <th (click)="showNoDataAvailable()">{{language["Bsp_Microsite_Type"]}}</th>
              <th (click)="showNoDataAvailable()">{{language["Bsp_Microsite_Branding"]}} </th>
              <th (click)="showNoDataAvailable()">{{language["Restrictions"]}} </th>
              <th (click)="showNoDataAvailable()">{{language["Bsp_Microsite_Status"]}} </th>
              <th class="Action-column" (click)="showNoDataAvailable()">{{language["Action"]}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData;let i=index">
              <td class="align-middle">{{item.communityName}}</td>
              <td class="align-middle">{{item.communityDesc}}</td>
              <td class="align-middle">
                {{(item.isPredefinedCommunity)?language['Bsp_Add_Micro__Community_Pre-Defined']:language['Bsp_Add_Micro__Branding_Custom']}},
                {{item.communityType ? language[item.communityType]:item.communityType}}</td>
              <td class="align-middle">{{item.brandingType ? language[item.brandingType] : item.brandingType}}</td>
              <td class="align-middle">{{language[item.restrictionLevel]}}</td>
              <td class="align-middle">
                <div *ngIf="item.status ==='READY'" class="active-but"><span class="dot"></span>
                  {{language[item.status]}}</div>
                <div *ngIf="item.status ==='CREATING'" class="draft-but"><span class="dot"></span>
                  {{language[item.status]}}</div>
                <div *ngIf="item.status ==='ERROR'" class="error-but"><span class="dot"></span>
                  {{language[item.status]}}</div>
              </td>
              <td class="actions align-middle">
                <div class="communities-action dropdown dropleft">
                  <button class="btn dropdown-toggle p-0" type="button" id="actionDropBtn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span>...</span>
                  </button>
                  <div class="dropdown-menu mt-4 ml-5" aria-labelledby="actionDropBtn">
                    <button class="dropdown-item" (click)="editMicroSite(item,i);buttonText = 'Bsp_Update_Microsite '"
                      title="{{language['Edit']}}" data-toggle="modal"
                      data-target=".bd-example-modal-lg">{{language.Edit}}</button>
                    <button class="dropdown-item" (click)="EditMicrositePreview(item)">{{language.Preview}}</button>
                    <button class="dropdown-item" (click)="WarToDelMicrosite(item)"
                      title="{{language['delete']}}">{{language.Delete}}</button>
                  </div>
                </div>

                <!-- <a class="pointer"><i class="fas fa-pencil-alt p-1 primary"
                      (click)="editMicroSite(item,i);buttonText = 'Bsp_Update_Microsite '" title="{{language['Edit']}}"
                      data-toggle="modal"
                      data-target=".bd-example-modal-lg"></i></a>
                  <i class="fas fa-trash-alt p-1 primary pointer ml-2" (click)="WarToDelMicrosite(item)"
                    title="{{language['delete']}}"></i> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #microSiteModal let-modal let-ref="dialogRef">
  
    <div class="loader" *ngIf="micrositeloader">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary">
          <span class="sr-only">{{language.Loading}}</span>
        </div>
      </div>
    </div>
    <div class="w-100 alert alert-danger fade show d-flex align-items-center mt-4 mb-2" *ngIf="iserror">
      <span class="error-img"><img src="./assets/img/ic_error-36px.svg" /></span>
      <div class="d-inline-flex w-80" [innerHtml]="errorInfoMicrosite"></div>
      <button type="button" class="close" (click)="closeAlert()">
        <span></span>
      </button>
  
    </div>
    <div class="modal-header my-2">
      <div class="communities-popup-title">
        {{language[EditmicrositeId ? 'Edit_Communities' :'Add Community']}}

      </div>
      <button type="button" class="close custom-close-btn" aria-label="Close" (click)="closeAllModal();">
        <span></span>
      </button>
    </div>
    

    <form [formGroup]="addMicroSite">
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-4 col-form-label">{{language["Bsp_Add_Micro__Community"]}}<span
            class="error">*</span></label>
        <div class="col-sm-8">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (click)="removeCommunity()"
              formControlName="isPredefinedCommunity" [attr.disabled]="( disableCommunity) ? '' : null" [value]="true"
              id="inlineRadio1">
            <label class="form-check-label" for="inlineRadio1">{{language["Bsp_Add_Micro__Community_Pre-Defined"]}}
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (click)="removeCommunity()"
              formControlName="isPredefinedCommunity" [attr.disabled]="disblemicrosite ? '' : null" [value]="false"
              id="inlineRadio2">
            <label class="form-check-label" for="inlineRadio2">{{language["Bsp_Add_Micro__Community_new"]}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Community" class="col-sm-4 col-form-label">{{language['Bsp_Microsite_Type']}}<span
            class="error">*</span></label>
        <div class="col-sm-8">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (click)="removeCommunity()" formControlName="communityType"
              [attr.disabled]="( disblemicrosite) ? '' : null" value="Permanent" id="communityType1">
            <label class="form-check-label" for="communityType1">{{language.Permanent}} </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (click)="removeCommunity()" formControlName="communityType"
              [attr.disabled]="disblemicrosite ? '' : null" value="Non-permanent" id="communityType2">
            <label class="form-check-label" for="communityType2">{{language['Non-permanent (events)']}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="addMicroSite.value.isPredefinedCommunity">
        <label for="inputPassword" class="col-sm-4 col-form-label">{{language["Bsp_Add_Micro__Community_Name"]}} <span
            class="error">*</span><br></label>
        <div class="col-md-8">
          <div>
            <ng-select [items]="communityArr" formControlName="communityName" (change)="patchCommunityDescription($event)"
              bindLabel="name" bindValue="name" placeholder="{{language['Bsp_Add_Micro__Community_Name']}}"
              [readonly]="disblemicrosite"
              [ngClass]="{'ccl-error':addMicroSiteFormSubmitted && addMicroSite.get('communityName').errors,'inp-disabled':disblemicrosite}">
            </ng-select>
            <div *ngIf="addMicroSite.value.communityName">
              {{communityDesc}}
            </div>
            <div *ngIf="addMicroSiteFormSubmitted && addMicroSite.get('communityName').errors" class="ccl-error">
              <span *ngIf="addMicroSite.get('communityName').errors.required">{{language['This field is
                required']}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ccl-form row" *ngIf="!addMicroSite.value.isPredefinedCommunity">
        <label for="staticEmail" class="col-sm-4 col-form-label">{{language["Bsp_Add_Micro__Community_Name"]}}<span
            class="error">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="communityName" #inputPassword required
            [readonly]="disblemicrosite"
            (keyup)="checkMaxMin(inputPassword.value,'community');clsAlphaNoOnly(inputPassword.value, 'community'); checkSpace($event)"
            placeholder="{{language['Bsp_Microsite_Name_placeholder']}}"
            [ngClass]="{'ccl-error':addMicroSiteFormSubmitted && addMicroSite.get('communityName').errors,'inp-disabled':disblemicrosite}">
          <div *ngIf="minimumErr.community" class="ccl-error">
            <span> {{language["The_community_name_must_be_4_to_63_characters"]}} </span>
          </div>
          <div *ngIf="communityError.community" class="ccl-error">
            <span> {{language["This field can only contain digits, lowercase letters, or hyphens(-), and should NOT start
              or end
              with a hyphen (-) and a single word."]}} {{language['New community name cannot start with “c-”.']}}</span>
          </div>
          <div *ngIf="addMicroSiteFormSubmitted && addMicroSite.get('communityName').errors" class="ccl-error">
  
            <span *ngIf="addMicroSite.get('communityName').errors.required">{{language['This field is required']}}</span>
          </div>
        </div>
      </div>
      <div class="form-group ccl-form row" *ngIf="!addMicroSite.value.isPredefinedCommunity">
        <label for="staticEmail" class="col-sm-4 col-form-label">{{language["Bsp_Microsite_Description"]}} <span
            class="error">*</span></label>
        <div class="col-sm-8 ccl-form">
          <textarea class="text-area-style" rows="3" formControlName="communityDesc" #description
            placeholder="{{language['Bsp_Microsite_Description_placeholder']}}"
            (keyup)="checkMaxMin(description.value,'description')"
            [ngClass]="{'ccl-error':addMicroSiteFormSubmitted && addMicroSite.get('communityDesc').errors}"
            required></textarea>
          <div *ngIf="minimumErr.description" class="ccl-error">
            <span> {{language["The community description shall not exceed 32 characters."]}} </span>
          </div>
          <div *ngIf="addMicroSiteFormSubmitted && addMicroSite.get('communityDesc').errors" class="ccl-error">
  
            <span *ngIf="addMicroSite.get('communityDesc').errors.required">{{language['This field is required']}}</span>
          </div>
        </div>
      </div>
      <div class="form-group ccl-form row">
        <label for="restrictionLevel" class="col-sm-4 col-form-label">{{language['Restrictions']}}</label>
        <div class="col-md-8">
          <div>
            <ng-select [items]="restrictionArr"  formControlName="restrictionLevel"  bindLabel="name" bindValue="value"  placeholder="{{language['Restrictions']}}" [readonly]="addMicroSite.value.isPredefinedCommunity || disblemicrosite" [ngClass]="{'inp-disabled':addMicroSite.value.isPredefinedCommunity || disblemicrosite}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group row my-2">
        <label for="inputPassword" class="col-sm-4 col-form-label">{{language["Bsp_Microsite_Branding"]}} <span
            class="error">*</span></label>
        <div class="col-sm-8">
          <div class="form-check form-check-inline branding-input">
            <input class="form-check-input" type="radio" formControlName="brandingType" id="inlineRadio11"
              (change)="checkColor()" value="Default">
            <label class="form-check-label" for="inlineRadio11">{{language["Bsp_Add_Micro__Branding_Default"]}} </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="brandingType" id="inlineRadio22"
              (change)="checkColor()" value="Custom">
            <label class="form-check-label" for="inlineRadio22">{{language["Bsp_Add_Micro__Branding_Custom"]}} </label>
          </div>
        </div>
      </div>
     
      <div class="row my-2" *ngIf="addMicroSite.value.brandingType =='Custom'">
        <div class="col-md-12">
          <div class="add-microsite-container">
            <div class="add-microsite-item">{{language["Add_Microsite_Image"]}}<span class="error"></span>
              <div class="form-input-field">
                <!-- <label class="label-control logo-info"></label> -->
                <div class="input-field">
                  <div id="logo-customimage-view-div " class="logo-customimage-view mt-2">
                    <img class="white-logo-image-box default-microsite-image" id="logo-customimage-view"
                      src="{{Micrositelogo ? Micrositelogo : './assets/img/empty_gary.svg'}}">
                    <label for="white_logo" class="primary m-0 pointer"><a> {{EditmicrositeId ?
                        language["Replace_Image"]:language['Upload Image']}}</a></label>
                    <input class="type-file" type="file" id="white_logo" name="white_logo" #white_logo
                      (change)="convertIntoFileBase(white_logo)">
                  </div>
                </div>
                <!---->
              </div>
  
            </div>
            <!--end -->
            <div class="add-microsite-item logo-guidelines">
              {{language["Logo_Guidelines"]}}
              <ul class="mt-1">
                <li>{{language["Max File Size: 400kb"]}}</li>
                <li> {{language["Format: .png, .jpeg"]}} </li>
                <li>{{language["Transparent background recommended"]}}</li>
              </ul>
            </div>
            <!--end -->
            <div class="add-microsite-item mb-2">
              <div class="w-100 mb-2">{{language["Primary_Color"]}}
                <div class="form-input-field ccl-form mt-2">
                  <div class="input-field color-input">
                    <input class="form-control" [(colorPicker)]="addMicroSite.value.primaryColor"
                      [(ngModel)]="addMicroSite.value.primaryColor" [style.background]="addMicroSite.value.primaryColor"
                      id="primaryColor" formControlName="primaryColor" [cpOutputFormat]="'hex'" style="color: #faf9f5;"
                      [ngClass]="{'ccl-error':addMicroSiteFormSubmitted && addMicroSite.get('primaryColor').errors,'text-dark':getColorByBgColor(addMicroSite.value.primaryColor),'text-white': !getColorByBgColor(addMicroSite.value.primaryColor)}">
                    <div *ngIf="addMicroSiteFormSubmitted && addMicroSite.get('primaryColor').errors" class="ccl-error">
                      <span *ngIf="addMicroSite.get('primaryColor').errors.required">{{language['This field is\
                        required']}}</span>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="w-100">{{language["Secondary_Color"]}}
                <div class="form-input-field ccl-form mt-2">
                  <div class="input-field color-input">
                    <input id="secondaryColor" formControlName="secondaryColor"
                      [(ngModel)]="addMicroSite.value.secondaryColor"
                      class="form-control ng-untouched ng-pristine ng-valid"
                      [(colorPicker)]="addMicroSite.value.secondaryColor"
                      [style.background]="addMicroSite.value.secondaryColor" [cpOutputFormat]="'hex'"
                      style="color: #faf9f5;"
                      [ngClass]="{'ccl-error':addMicroSiteFormSubmitted && addMicroSite.get('secondaryColor').errors,'text-dark':getColorByBgColor(addMicroSite.value.secondaryColor),'text-white': !getColorByBgColor(addMicroSite.value.secondaryColor)}">
                    <div *ngIf="addMicroSiteFormSubmitted && addMicroSite.get('secondaryColor').errors" class="ccl-error">
                      <span *ngIf="addMicroSite.get('secondaryColor').errors.required">{{language['This field is
                        required']}}</span>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
            </div>
            <!--end -->
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12 align-items-center">
          <button *ngIf="!disblemicrosite" class="btn-default primary px-3 mr-3" type="button" id="addMicrosite"
            [disabled]="minimumErr.community || communityError.community || !this.addMicroSite.value.brandingType || !this.addMicroSite.value.communityName"
            (click)="onSubmit()">{{language[EditmicrositeId ? 'Edit_Communities' :'Add Community']}}</button>
          <button *ngIf="disblemicrosite" (click)="onSubmit()" class="btn-default primary px-3 mr-3" type="button"
            id="bsp-savechanges">{{language['Save_changes']}}</button>
          <button *ngIf="!EditmicrositeId" class="btn-default btn-dft px-3 mr-3" type="button"
            [disabled]="minimumErr.community || communityError.community || !this.addMicroSite.value.brandingType || !this.addMicroSite.value.communityName"
            id="bsp-preview-btn" (click)="AddMicrositePreview();">{{language.Preview}} <img
              src="./assets/img/icon_expand.svg" /></button>
          <button *ngIf="EditmicrositeId" class="btn-default btn-dft px-3 mr-3" type="button"
            [disabled]="minimumErr.community || communityError.community || !this.addMicroSite.value.brandingType || !this.addMicroSite.value.communityName"
            id="bsp-preview-btn" (click)="EditMicroPreview();">{{language.Preview}} <img
              src="./assets/img/icon_expand.svg" /></button>
          <button (click)="closeAllModal();" id="bsp-cancel"
            class="btn  primary pointer ">{{language["Bsp_Micro_Cancel"]}}
          </button>
        </div>
      </div>
    </form>
  
  </ng-template>
  <!-- delete modal -->
  <ng-template #deleteModal let-modal let-ref="dialogRef">
    <div class="loader" *ngIf="micrositeloader">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary">
          <span class="sr-only">{{language.Loading}}</span>
        </div>
      </div>
    </div>
    <div class="modal-header">
      <div class="communities-popup-title modal-title" id="modal-basic-title"> {{language["Delete_Communities"]}}</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-2"> {{language["community_Delete_Mes_for_community"]}} </div>
      {{language["community_Delete_Mes"]}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-default primary px-3" data-dismiss="modal" (click)="DeleteMicrosite()">
        {{language["yes"]}} </button>
      <button type="button" class="btn-default btn-dft px-3" data-dismiss="modal"
        (click)="modal.dismiss()">{{language["no"]}}
      </button>
  
    </div>
  </ng-template>
  <ng-template #verifyMicrositeModel let-modal>
    <div class="modal-header my-2">
      <button type="button" class="close custom-close-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span></span>
      </button>
    </div>
  
    <div class="modal-body">
      <div class="d-flex">
        <div class="error-img">
          <img src="./assets/img/ic_error-36px.svg" />
        </div>
        <!--end-->
        <div class="custom-alert-content">
          <h1 class="cco-secondary-title">{{language.Cannot_Delete}} {{micrositeName}}</h1>
          <p class="mb-0">{{language.VerifyCommunityTitle}}</p>
          <ul class="list-disc-type">
            <li *ngFor="let item of workFlowData">{{item?.name}}</li>
          </ul>
          <p>{{language.To_delete_this_community_msg}}.</p>
          <div class="w-100 my-3">
            <button type="button" class="btn-default btn-primary mr-2" id="microErrorOkayBtn"
              (click)="modal.close('Save click')">{{language.Okay}}</button>
          </div>
          <!--end-->
        </div>
      </div>
      <!--end-->
    </div>
  </ng-template>