<div class="row my-4">
    <div class="col-md-5 px-0 text-left"><span class="big-text primary"><i class="fa fa-long-arrow-left"
                aria-hidden="true"></i>

        </span></div>
    <div class="col-md-6 px-0 text-left">
        <h4>{{language.Parental_Notification}}</h4>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-11 px-0 text-center">
        {{language.Total_Notification}}: 20
    </div>
    <div class="col-md-1  text-right pr-0">
        <a href="">{{language.Read_All}}</a>
    </div>
</div>

<div class="row my-2">
    <div class="col-md-12 px-0">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <div class="row mb-0">
                        <div class="col-md-11 px-0 text-left">
                            <span class=""><i class="fa fa-server" aria-hidden="true"></i> ROBLOX is
                                blocked on Apr 03 2020, 01:59</span>
                        </div>
                        <div class="col-md-1 ccl-accordion-icon text-right"></div>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="col-md-6 px-0 support-key-value">
                            <table class="">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="font-weight-bold">{{language.Time}}:</th>
                                        <td>Jul 30 2020, 20:50</td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold" scope="row">{{language.Type}}:</th>
                                        <td>Application Blocked</td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold" scope="row">{{language.Category_Name}}:</th>
                                        <td>Online Games</td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold" scope="row">{{language.Appname}}:</th>
                                        <td>ROBLOX</td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold" scope="row">{{language.Client_Device}}:</th>
                                        <td>DESKTOP-5HR5LM9</td>
                                    </tr>





                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1 mt-2 pl-0">
                            <button id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne" type="button"
                                class="btn-default primary px-3">{{language.Read}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>