div.checkbox.switcher,
div.radio.switcher {
    float: left;

    label {
        padding: 0;
        cursor: pointer;

        * {
            vertical-align: middle;
        }

        input {
            display: none;

            &+span {
                position: relative;
                display: inline-block;
                width: 45px;
                height: 25px;
                background: #ffffff;
                border: 1px solid #0279ff;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                padding: 5px;

                small {
                    position: absolute;
                    display: block;
                    width: 20px;
                    height: 19px;
                    background: #0279ff;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                    left: 2px;
                    top: 2px;
                }
            }

            &:checked+span {
                background: #0279ff;
                border-color: #0279ff;

                small {
                    left: 50%;
                    background: #ffffff;
                }
            }
        }
    }
}

::ng-deep {
    .acl-custom-modal.modal.fade .modal-dialog {
        max-width: 580px !important;

        .modal-content {
            padding: 42px;

            .acl-custom-title {
                font-weight: 300;
                font-size: 42px;
                line-height: 53px;
                margin-bottom: 24px;
            }
        }

    }
}

.mb-16 {
    margin-bottom: 16px;
}

:host ::ng-deep .dataTables_empty {
    display: none;
}

.no-data-available {
    text-align: center;
}
.acl-table {
    table {
        thead {
            tr {
                border-bottom: 1px solid #CCCCCC !important;

                th {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #1A1F22;
                    padding-bottom: 7px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #333333;
                }
            }
        }
    }

}
.btn-default.btn-dft{max-height: 32px;}