.current-issues-table {
    width: 100%;
}

.current-issues-table table {
    width: 100%;
}

.current-issues-table table {
    width: 100%;
}

.current-issues-table table thead {
    font-size: 14px;
}

.current-issues-table table tbody {
    font-size: 14px;
}


.subscriber-name {
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1F22;
}